[Unit]
Description=cartographer
After=network.target

[Service]
ExecStart=/usr/bin/java -jar cartographer.jar
User=cartographer
Restart=always
RestartSec=5
WorkingDirectory=/home/cartographer/

[Install]
WantedBy=multi-user.target
