{ pg => {uri => 'postgresql://cs:cohNgiesh6@185.32.185.55:5432/cs_big_test'},
  hypnotoad => {listen => ['http://127.0.0.1:8080'], workers => 16},
  cs => {
    base_url => 'http://monitor.ructfe.org/',
    time => {
      start => '2016-11-12 16:00:00',
      end   => '2016-11-13 00:00:00',
      break => []
    },
    ctf            => {name => 'RuCTFE 2016'},
    round_length   => 60,
    flag_life_time => 15,
    flags => {port => 31337, timeout => 3 * 60, secret => 'Uiquaesh4j'},
    admin => {auth => 'root:Chahg8ohmi0eero1'},
    checkers       => {
      hostname => sub { my ($team, $service) = @_; "$service->{name}.$team->{host}" }
    }
  },
  teams => [
    {% include "teams.j2" %}
  ],
  services => [
    {name => 'crash',        path => 'checkers/crash/checker.py',                     timeout => 20, tcp_port => 80},
    {name => 'thebin',       path => 'checkers/thebin/thebin.checker.py',             timeout => 20, tcp_port => 80},
    {name => 'weather',      path => 'checkers/weather/checker',                      timeout => 20, tcp_port => 80},
    {name => 'cartographer', path => 'checkers/cartographer/cartographer.checker.py', timeout => 20, tcp_port => 80},
    {name => 'sapmarine',    path => 'checkers/sapmarine/sapmarine.checker.py',       timeout => 20, tcp_port => 80},
    {name => 'atlablog',     path => 'checkers/atlablog/dockermain.py',               timeout => 20, tcp_port => 80},
  ],
}
