{ pg => {uri => 'postgresql://cs:cohNgiesh6@172.16.6.8:5432/cs_big_test'},
  hypnotoad => {listen => ['http://0.0.0.0:8080'], workers => 16},
  cs => {
    base_url => 'http://xxx.ructf.org/',
    time => {
      start => '2016-04-17 00:00:00',
      end   => '2018-04-17 20:00:00',
      break => ['2016-04-17 13:00:00', '2016-04-17 14:00:00']
    },
    ctf            => {name => 'RuCTFE 2016'},
    round_length   => 30,
    flag_life_time => 15,
    flags => {port => 31337, timeout => 5 * 60, secret => 'SeWoh2zevieb'},
    admin => {auth => 'root:Da0eeWooLoovajuMaic2'},
    checkers       => {
      hostname => sub { my ($team, $service) = @_; "$service->{name}.$team->{name}.ructfe.org" }
    }
  },
  teams => [
    {name => 'team706', network => '10.62.194.0/24',host => '10.62.194.2'},
    {name => 'team709', network => '10.62.197.0/24',host => '10.62.197.2'},
    {name => 'team710', network => '10.62.198.0/24',host => '10.62.198.2'},
    {name => 'team715', network => '10.62.203.0/24',host => '10.62.203.2'},
    {name => 'team1',	network => '10.60.1.0/24',	host => '10.60.1.2'},
    {name => 'team2',	network => '10.60.2.0/24',	host => '10.60.2.2'},
    {name => 'team3',	network => '10.60.3.0/24',	host => '10.60.3.2'},
    {name => 'team4',	network => '10.60.4.0/24',	host => '10.60.4.2'},
    {name => 'team5',	network => '10.60.5.0/24',	host => '10.60.5.2'},
    {name => 'team6',	network => '10.60.6.0/24',	host => '10.60.6.2'},
    {name => 'team7',	network => '10.60.7.0/24',	host => '10.60.7.2'},
    {name => 'team8',	network => '10.60.8.0/24',	host => '10.60.8.2'},
    {name => 'team9',	network => '10.60.9.0/24',	host => '10.60.9.2'},
    {name => 'team10',	network => '10.60.10.0/24',	host => '10.60.10.2'},
    {name => 'team11',	network => '10.60.11.0/24',	host => '10.60.11.2'},
    {name => 'team12',	network => '10.60.12.0/24',	host => '10.60.12.2'},
    {name => 'team13',	network => '10.60.13.0/24',	host => '10.60.13.2'},
    {name => 'team14',	network => '10.60.14.0/24',	host => '10.60.14.2'},
    {name => 'team15',	network => '10.60.15.0/24',	host => '10.60.15.2'},
    {name => 'team16',	network => '10.60.16.0/24',	host => '10.60.16.2'},
    {name => 'team17',	network => '10.60.17.0/24',	host => '10.60.17.2'},
    {name => 'team18',	network => '10.60.18.0/24',	host => '10.60.18.2'},
    {name => 'team19',	network => '10.60.19.0/24',	host => '10.60.19.2'},
    {name => 'team20',	network => '10.60.20.0/24',	host => '10.60.20.2'},
    {name => 'team21',	network => '10.60.21.0/24',	host => '10.60.21.2'},
    {name => 'team22',	network => '10.60.22.0/24',	host => '10.60.22.2'},
    {name => 'team23',	network => '10.60.23.0/24',	host => '10.60.23.2'},
    {name => 'team24',	network => '10.60.24.0/24',	host => '10.60.24.2'},
    {name => 'team25',	network => '10.60.25.0/24',	host => '10.60.25.2'},
    {name => 'team26',	network => '10.60.26.0/24',	host => '10.60.26.2'},
    {name => 'team27',	network => '10.60.27.0/24',	host => '10.60.27.2'},
    {name => 'team28',	network => '10.60.28.0/24',	host => '10.60.28.2'},
    {name => 'team29',	network => '10.60.29.0/24',	host => '10.60.29.2'},
    {name => 'team30',	network => '10.60.30.0/24',	host => '10.60.30.2'},
    {name => 'team31',	network => '10.60.31.0/24',	host => '10.60.31.2'},
    {name => 'team32',	network => '10.60.32.0/24',	host => '10.60.32.2'},
    {name => 'team33',	network => '10.60.33.0/24',	host => '10.60.33.2'},
    {name => 'team34',	network => '10.60.34.0/24',	host => '10.60.34.2'},
    {name => 'team35',	network => '10.60.35.0/24',	host => '10.60.35.2'},
    {name => 'team36',	network => '10.60.36.0/24',	host => '10.60.36.2'},
    {name => 'team37',	network => '10.60.37.0/24',	host => '10.60.37.2'},
    {name => 'team38',	network => '10.60.38.0/24',	host => '10.60.38.2'},
    {name => 'team39',	network => '10.60.39.0/24',	host => '10.60.39.2'},
    {name => 'team40',	network => '10.60.40.0/24',	host => '10.60.40.2'},
    {name => 'team41',	network => '10.60.41.0/24',	host => '10.60.41.2'},
    {name => 'team42',	network => '10.60.42.0/24',	host => '10.60.42.2'},
    {name => 'team43',	network => '10.60.43.0/24',	host => '10.60.43.2'},
    {name => 'team44',	network => '10.60.44.0/24',	host => '10.60.44.2'},
    {name => 'team45',	network => '10.60.45.0/24',	host => '10.60.45.2'},
    {name => 'team46',	network => '10.60.46.0/24',	host => '10.60.46.2'},
    {name => 'team47',	network => '10.60.47.0/24',	host => '10.60.47.2'},
    {name => 'team48',	network => '10.60.48.0/24',	host => '10.60.48.2'},
    {name => 'team49',	network => '10.60.49.0/24',	host => '10.60.49.2'},
    {name => 'team50',	network => '10.60.50.0/24',	host => '10.60.50.2'},
    {name => 'team51',	network => '10.60.51.0/24',	host => '10.60.51.2'},
    {name => 'team52',	network => '10.60.52.0/24',	host => '10.60.52.2'},
    {name => 'team53',	network => '10.60.53.0/24',	host => '10.60.53.2'},
    {name => 'team54',	network => '10.60.54.0/24',	host => '10.60.54.2'},
    {name => 'team55',	network => '10.60.55.0/24',	host => '10.60.55.2'},
    {name => 'team56',	network => '10.60.56.0/24',	host => '10.60.56.2'},
    {name => 'team57',	network => '10.60.57.0/24',	host => '10.60.57.2'},
    {name => 'team58',	network => '10.60.58.0/24',	host => '10.60.58.2'},
    {name => 'team59',	network => '10.60.59.0/24',	host => '10.60.59.2'},
    {name => 'team60',	network => '10.60.60.0/24',	host => '10.60.60.2'},
    {name => 'team61',	network => '10.60.61.0/24',	host => '10.60.61.2'},
    {name => 'team62',	network => '10.60.62.0/24',	host => '10.60.62.2'},
    {name => 'team63',	network => '10.60.63.0/24',	host => '10.60.63.2'},
    {name => 'team64',	network => '10.60.64.0/24',	host => '10.60.64.2'},
    {name => 'team65',	network => '10.60.65.0/24',	host => '10.60.65.2'},
    {name => 'team66',	network => '10.60.66.0/24',	host => '10.60.66.2'},
    {name => 'team67',	network => '10.60.67.0/24',	host => '10.60.67.2'},
    {name => 'team68',	network => '10.60.68.0/24',	host => '10.60.68.2'},
    {name => 'team69',	network => '10.60.69.0/24',	host => '10.60.69.2'},
    {name => 'team70',	network => '10.60.70.0/24',	host => '10.60.70.2'},
    {name => 'team71',	network => '10.60.71.0/24',	host => '10.60.71.2'},
    {name => 'team72',	network => '10.60.72.0/24',	host => '10.60.72.2'},
    {name => 'team73',	network => '10.60.73.0/24',	host => '10.60.73.2'},
    {name => 'team74',	network => '10.60.74.0/24',	host => '10.60.74.2'},
    {name => 'team75',	network => '10.60.75.0/24',	host => '10.60.75.2'},
    {name => 'team76',	network => '10.60.76.0/24',	host => '10.60.76.2'},
    {name => 'team77',	network => '10.60.77.0/24',	host => '10.60.77.2'},
    {name => 'team78',	network => '10.60.78.0/24',	host => '10.60.78.2'},
    {name => 'team79',	network => '10.60.79.0/24',	host => '10.60.79.2'},
    {name => 'team80',	network => '10.60.80.0/24',	host => '10.60.80.2'},
    {name => 'team81',	network => '10.60.81.0/24',	host => '10.60.81.2'},
    {name => 'team82',	network => '10.60.82.0/24',	host => '10.60.82.2'},
    {name => 'team83',	network => '10.60.83.0/24',	host => '10.60.83.2'},
    {name => 'team84',	network => '10.60.84.0/24',	host => '10.60.84.2'},
    {name => 'team85',	network => '10.60.85.0/24',	host => '10.60.85.2'},
    {name => 'team86',	network => '10.60.86.0/24',	host => '10.60.86.2'},
    {name => 'team87',	network => '10.60.87.0/24',	host => '10.60.87.2'},
    {name => 'team88',	network => '10.60.88.0/24',	host => '10.60.88.2'},
    {name => 'team89',	network => '10.60.89.0/24',	host => '10.60.89.2'},
    {name => 'team90',	network => '10.60.90.0/24',	host => '10.60.90.2'},
    {name => 'team91',	network => '10.60.91.0/24',	host => '10.60.91.2'},
    {name => 'team92',	network => '10.60.92.0/24',	host => '10.60.92.2'},
    {name => 'team93',	network => '10.60.93.0/24',	host => '10.60.93.2'},
    {name => 'team94',	network => '10.60.94.0/24',	host => '10.60.94.2'},
    {name => 'team95',	network => '10.60.95.0/24',	host => '10.60.95.2'},
    {name => 'team96',	network => '10.60.96.0/24',	host => '10.60.96.2'},
    {name => 'team97',	network => '10.60.97.0/24',	host => '10.60.97.2'},
    {name => 'team98',	network => '10.60.98.0/24',	host => '10.60.98.2'},
    {name => 'team99',	network => '10.60.99.0/24',	host => '10.60.99.2'},
    {name => 'team100',	network => '10.60.100.0/24',	host => '10.60.100.2'},
    {name => 'team101',	network => '10.60.101.0/24',	host => '10.60.101.2'},
    {name => 'team102',	network => '10.60.102.0/24',	host => '10.60.102.2'},
    {name => 'team103',	network => '10.60.103.0/24',	host => '10.60.103.2'},
    {name => 'team104',	network => '10.60.104.0/24',	host => '10.60.104.2'},
    {name => 'team105',	network => '10.60.105.0/24',	host => '10.60.105.2'},
    {name => 'team106',	network => '10.60.106.0/24',	host => '10.60.106.2'},
    {name => 'team107',	network => '10.60.107.0/24',	host => '10.60.107.2'},
    {name => 'team108',	network => '10.60.108.0/24',	host => '10.60.108.2'},
    {name => 'team109',	network => '10.60.109.0/24',	host => '10.60.109.2'},
    {name => 'team110',	network => '10.60.110.0/24',	host => '10.60.110.2'},
    {name => 'team111',	network => '10.60.111.0/24',	host => '10.60.111.2'},
    {name => 'team112',	network => '10.60.112.0/24',	host => '10.60.112.2'},
    {name => 'team113',	network => '10.60.113.0/24',	host => '10.60.113.2'},
    {name => 'team114',	network => '10.60.114.0/24',	host => '10.60.114.2'},
    {name => 'team115',	network => '10.60.115.0/24',	host => '10.60.115.2'},
    {name => 'team116',	network => '10.60.116.0/24',	host => '10.60.116.2'},
    {name => 'team117',	network => '10.60.117.0/24',	host => '10.60.117.2'},
    {name => 'team118',	network => '10.60.118.0/24',	host => '10.60.118.2'},
    {name => 'team119',	network => '10.60.119.0/24',	host => '10.60.119.2'},
    {name => 'team120',	network => '10.60.120.0/24',	host => '10.60.120.2'},
    {name => 'team121',	network => '10.60.121.0/24',	host => '10.60.121.2'},
    {name => 'team122',	network => '10.60.122.0/24',	host => '10.60.122.2'},
    {name => 'team123',	network => '10.60.123.0/24',	host => '10.60.123.2'},
    {name => 'team124',	network => '10.60.124.0/24',	host => '10.60.124.2'},
    {name => 'team125',	network => '10.60.125.0/24',	host => '10.60.125.2'},
    {name => 'team126',	network => '10.60.126.0/24',	host => '10.60.126.2'},
    {name => 'team127',	network => '10.60.127.0/24',	host => '10.60.127.2'},
    {name => 'team128',	network => '10.60.128.0/24',	host => '10.60.128.2'},
    {name => 'team129',	network => '10.60.129.0/24',	host => '10.60.129.2'},
    {name => 'team130',	network => '10.60.130.0/24',	host => '10.60.130.2'},
    {name => 'team131',	network => '10.60.131.0/24',	host => '10.60.131.2'},
    {name => 'team132',	network => '10.60.132.0/24',	host => '10.60.132.2'},
    {name => 'team133',	network => '10.60.133.0/24',	host => '10.60.133.2'},
    {name => 'team134',	network => '10.60.134.0/24',	host => '10.60.134.2'},
    {name => 'team135',	network => '10.60.135.0/24',	host => '10.60.135.2'},
    {name => 'team136',	network => '10.60.136.0/24',	host => '10.60.136.2'},
    {name => 'team137',	network => '10.60.137.0/24',	host => '10.60.137.2'},
    {name => 'team138',	network => '10.60.138.0/24',	host => '10.60.138.2'},
    {name => 'team139',	network => '10.60.139.0/24',	host => '10.60.139.2'},
    {name => 'team140',	network => '10.60.140.0/24',	host => '10.60.140.2'},
    {name => 'team141',	network => '10.60.141.0/24',	host => '10.60.141.2'},
    {name => 'team142',	network => '10.60.142.0/24',	host => '10.60.142.2'},
    {name => 'team143',	network => '10.60.143.0/24',	host => '10.60.143.2'},
    {name => 'team144',	network => '10.60.144.0/24',	host => '10.60.144.2'},
    {name => 'team145',	network => '10.60.145.0/24',	host => '10.60.145.2'},
    {name => 'team146',	network => '10.60.146.0/24',	host => '10.60.146.2'},
    {name => 'team147',	network => '10.60.147.0/24',	host => '10.60.147.2'},
    {name => 'team148',	network => '10.60.148.0/24',	host => '10.60.148.2'},
    {name => 'team149',	network => '10.60.149.0/24',	host => '10.60.149.2'},
    {name => 'team150',	network => '10.60.150.0/24',	host => '10.60.150.2'},
    {name => 'team151',	network => '10.60.151.0/24',	host => '10.60.151.2'},
    {name => 'team152',	network => '10.60.152.0/24',	host => '10.60.152.2'},
    {name => 'team153',	network => '10.60.153.0/24',	host => '10.60.153.2'},
    {name => 'team154',	network => '10.60.154.0/24',	host => '10.60.154.2'},
    {name => 'team155',	network => '10.60.155.0/24',	host => '10.60.155.2'},
    {name => 'team156',	network => '10.60.156.0/24',	host => '10.60.156.2'},
    {name => 'team157',	network => '10.60.157.0/24',	host => '10.60.157.2'},
    {name => 'team158',	network => '10.60.158.0/24',	host => '10.60.158.2'},
    {name => 'team159',	network => '10.60.159.0/24',	host => '10.60.159.2'},
    {name => 'team160',	network => '10.60.160.0/24',	host => '10.60.160.2'},
    {name => 'team161',	network => '10.60.161.0/24',	host => '10.60.161.2'},
    {name => 'team162',	network => '10.60.162.0/24',	host => '10.60.162.2'},
    {name => 'team163',	network => '10.60.163.0/24',	host => '10.60.163.2'},
    {name => 'team164',	network => '10.60.164.0/24',	host => '10.60.164.2'},
    {name => 'team165',	network => '10.60.165.0/24',	host => '10.60.165.2'},
    {name => 'team166',	network => '10.60.166.0/24',	host => '10.60.166.2'},
    {name => 'team167',	network => '10.60.167.0/24',	host => '10.60.167.2'},
    {name => 'team168',	network => '10.60.168.0/24',	host => '10.60.168.2'},
    {name => 'team169',	network => '10.60.169.0/24',	host => '10.60.169.2'},
    {name => 'team170',	network => '10.60.170.0/24',	host => '10.60.170.2'},
    {name => 'team171',	network => '10.60.171.0/24',	host => '10.60.171.2'},
    {name => 'team172',	network => '10.60.172.0/24',	host => '10.60.172.2'},
    {name => 'team173',	network => '10.60.173.0/24',	host => '10.60.173.2'},
    {name => 'team174',	network => '10.60.174.0/24',	host => '10.60.174.2'},
    {name => 'team175',	network => '10.60.175.0/24',	host => '10.60.175.2'},
    {name => 'team176',	network => '10.60.176.0/24',	host => '10.60.176.2'},
    {name => 'team177',	network => '10.60.177.0/24',	host => '10.60.177.2'},
    {name => 'team178',	network => '10.60.178.0/24',	host => '10.60.178.2'},
    {name => 'team179',	network => '10.60.179.0/24',	host => '10.60.179.2'},
    {name => 'team180',	network => '10.60.180.0/24',	host => '10.60.180.2'},
    {name => 'team181',	network => '10.60.181.0/24',	host => '10.60.181.2'},
    {name => 'team182',	network => '10.60.182.0/24',	host => '10.60.182.2'},
    {name => 'team183',	network => '10.60.183.0/24',	host => '10.60.183.2'},
    {name => 'team184',	network => '10.60.184.0/24',	host => '10.60.184.2'},
    {name => 'team185',	network => '10.60.185.0/24',	host => '10.60.185.2'},
    {name => 'team186',	network => '10.60.186.0/24',	host => '10.60.186.2'},
    {name => 'team187',	network => '10.60.187.0/24',	host => '10.60.187.2'},
    {name => 'team188',	network => '10.60.188.0/24',	host => '10.60.188.2'},
    {name => 'team189',	network => '10.60.189.0/24',	host => '10.60.189.2'},
    {name => 'team190',	network => '10.60.190.0/24',	host => '10.60.190.2'},
    {name => 'team191',	network => '10.60.191.0/24',	host => '10.60.191.2'},
    {name => 'team192',	network => '10.60.192.0/24',	host => '10.60.192.2'},
    {name => 'team193',	network => '10.60.193.0/24',	host => '10.60.193.2'},
    {name => 'team194',	network => '10.60.194.0/24',	host => '10.60.194.2'},
    {name => 'team195',	network => '10.60.195.0/24',	host => '10.60.195.2'},
    {name => 'team196',	network => '10.60.196.0/24',	host => '10.60.196.2'},
    {name => 'team197',	network => '10.60.197.0/24',	host => '10.60.197.2'},
    {name => 'team198',	network => '10.60.198.0/24',	host => '10.60.198.2'},
    {name => 'team199',	network => '10.60.199.0/24',	host => '10.60.199.2'},
    {name => 'team200',	network => '10.60.200.0/24',	host => '10.60.200.2'},
    {name => 'team201',	network => '10.60.201.0/24',	host => '10.60.201.2'},
    {name => 'team202',	network => '10.60.202.0/24',	host => '10.60.202.2'},
    {name => 'team203',	network => '10.60.203.0/24',	host => '10.60.203.2'},
    {name => 'team204',	network => '10.60.204.0/24',	host => '10.60.204.2'},
    {name => 'team205',	network => '10.60.205.0/24',	host => '10.60.205.2'},
    {name => 'team206',	network => '10.60.206.0/24',	host => '10.60.206.2'},
    {name => 'team207',	network => '10.60.207.0/24',	host => '10.60.207.2'},
    {name => 'team208',	network => '10.60.208.0/24',	host => '10.60.208.2'},
    {name => 'team209',	network => '10.60.209.0/24',	host => '10.60.209.2'},
    {name => 'team210',	network => '10.60.210.0/24',	host => '10.60.210.2'},
    {name => 'team211',	network => '10.60.211.0/24',	host => '10.60.211.2'},
    {name => 'team212',	network => '10.60.212.0/24',	host => '10.60.212.2'},
    {name => 'team213',	network => '10.60.213.0/24',	host => '10.60.213.2'},
    {name => 'team214',	network => '10.60.214.0/24',	host => '10.60.214.2'},
    {name => 'team215',	network => '10.60.215.0/24',	host => '10.60.215.2'},
    {name => 'team216',	network => '10.60.216.0/24',	host => '10.60.216.2'},
    {name => 'team217',	network => '10.60.217.0/24',	host => '10.60.217.2'},
    {name => 'team218',	network => '10.60.218.0/24',	host => '10.60.218.2'},
    {name => 'team219',	network => '10.60.219.0/24',	host => '10.60.219.2'},
    {name => 'team220',	network => '10.60.220.0/24',	host => '10.60.220.2'},
    {name => 'team221',	network => '10.60.221.0/24',	host => '10.60.221.2'},
    {name => 'team222',	network => '10.60.222.0/24',	host => '10.60.222.2'},
    {name => 'team223',	network => '10.60.223.0/24',	host => '10.60.223.2'},
    {name => 'team224',	network => '10.60.224.0/24',	host => '10.60.224.2'},
    {name => 'team225',	network => '10.60.225.0/24',	host => '10.60.225.2'},
    {name => 'team226',	network => '10.60.226.0/24',	host => '10.60.226.2'},
    {name => 'team227',	network => '10.60.227.0/24',	host => '10.60.227.2'},
    {name => 'team228',	network => '10.60.228.0/24',	host => '10.60.228.2'},
    {name => 'team229',	network => '10.60.229.0/24',	host => '10.60.229.2'},
    {name => 'team230',	network => '10.60.230.0/24',	host => '10.60.230.2'},
    {name => 'team231',	network => '10.60.231.0/24',	host => '10.60.231.2'},
    {name => 'team232',	network => '10.60.232.0/24',	host => '10.60.232.2'},
    {name => 'team233',	network => '10.60.233.0/24',	host => '10.60.233.2'},
    {name => 'team234',	network => '10.60.234.0/24',	host => '10.60.234.2'},
    {name => 'team235',	network => '10.60.235.0/24',	host => '10.60.235.2'},
    {name => 'team236',	network => '10.60.236.0/24',	host => '10.60.236.2'},
    {name => 'team237',	network => '10.60.237.0/24',	host => '10.60.237.2'},
    {name => 'team238',	network => '10.60.238.0/24',	host => '10.60.238.2'},
    {name => 'team239',	network => '10.60.239.0/24',	host => '10.60.239.2'},
    {name => 'team240',	network => '10.60.240.0/24',	host => '10.60.240.2'},
    {name => 'team241',	network => '10.60.241.0/24',	host => '10.60.241.2'},
    {name => 'team242',	network => '10.60.242.0/24',	host => '10.60.242.2'},
    {name => 'team243',	network => '10.60.243.0/24',	host => '10.60.243.2'},
    {name => 'team244',	network => '10.60.244.0/24',	host => '10.60.244.2'},
    {name => 'team245',	network => '10.60.245.0/24',	host => '10.60.245.2'},
    {name => 'team246',	network => '10.60.246.0/24',	host => '10.60.246.2'},
    {name => 'team247',	network => '10.60.247.0/24',	host => '10.60.247.2'},
    {name => 'team248',	network => '10.60.248.0/24',	host => '10.60.248.2'},
    {name => 'team249',	network => '10.60.249.0/24',	host => '10.60.249.2'},
    {name => 'team250',	network => '10.60.250.0/24',	host => '10.60.250.2'},
    {name => 'team251',	network => '10.60.251.0/24',	host => '10.60.251.2'},
    {name => 'team252',	network => '10.60.252.0/24',	host => '10.60.252.2'},
    {name => 'team253',	network => '10.60.253.0/24',	host => '10.60.253.2'},
    {name => 'team254',	network => '10.60.254.0/24',	host => '10.60.254.2'},
    {name => 'team255',	network => '10.60.255.0/24',	host => '10.60.255.2'},
    {name => 'team256',	network => '10.61.0.0/24',	host => '10.61.0.2'},
    {name => 'team257',	network => '10.61.1.0/24',	host => '10.61.1.2'},
    {name => 'team258',	network => '10.61.2.0/24',	host => '10.61.2.2'},
    {name => 'team259',	network => '10.61.3.0/24',	host => '10.61.3.2'},
    {name => 'team260',	network => '10.61.4.0/24',	host => '10.61.4.2'},
    {name => 'team261',	network => '10.61.5.0/24',	host => '10.61.5.2'},
    {name => 'team262',	network => '10.61.6.0/24',	host => '10.61.6.2'},
    {name => 'team263',	network => '10.61.7.0/24',	host => '10.61.7.2'},
    {name => 'team264',	network => '10.61.8.0/24',	host => '10.61.8.2'},
    {name => 'team265',	network => '10.61.9.0/24',	host => '10.61.9.2'},
    {name => 'team266',	network => '10.61.10.0/24',	host => '10.61.10.2'},
    {name => 'team267',	network => '10.61.11.0/24',	host => '10.61.11.2'},
    {name => 'team268',	network => '10.61.12.0/24',	host => '10.61.12.2'},
    {name => 'team269',	network => '10.61.13.0/24',	host => '10.61.13.2'},
    {name => 'team270',	network => '10.61.14.0/24',	host => '10.61.14.2'},
    {name => 'team271',	network => '10.61.15.0/24',	host => '10.61.15.2'},
    {name => 'team272',	network => '10.61.16.0/24',	host => '10.61.16.2'},
    {name => 'team273',	network => '10.61.17.0/24',	host => '10.61.17.2'},
    {name => 'team274',	network => '10.61.18.0/24',	host => '10.61.18.2'},
    {name => 'team275',	network => '10.61.19.0/24',	host => '10.61.19.2'},
    {name => 'team276',	network => '10.61.20.0/24',	host => '10.61.20.2'},
    {name => 'team277',	network => '10.61.21.0/24',	host => '10.61.21.2'},
    {name => 'team278',	network => '10.61.22.0/24',	host => '10.61.22.2'},
    {name => 'team279',	network => '10.61.23.0/24',	host => '10.61.23.2'},
    {name => 'team280',	network => '10.61.24.0/24',	host => '10.61.24.2'},
    {name => 'team281',	network => '10.61.25.0/24',	host => '10.61.25.2'},
    {name => 'team282',	network => '10.61.26.0/24',	host => '10.61.26.2'},
    {name => 'team283',	network => '10.61.27.0/24',	host => '10.61.27.2'},
    {name => 'team284',	network => '10.61.28.0/24',	host => '10.61.28.2'},
    {name => 'team285',	network => '10.61.29.0/24',	host => '10.61.29.2'},
    {name => 'team286',	network => '10.61.30.0/24',	host => '10.61.30.2'},
    {name => 'team287',	network => '10.61.31.0/24',	host => '10.61.31.2'},
    {name => 'team288',	network => '10.61.32.0/24',	host => '10.61.32.2'},
    {name => 'team289',	network => '10.61.33.0/24',	host => '10.61.33.2'},
    {name => 'team290',	network => '10.61.34.0/24',	host => '10.61.34.2'},
    {name => 'team291',	network => '10.61.35.0/24',	host => '10.61.35.2'},
    {name => 'team292',	network => '10.61.36.0/24',	host => '10.61.36.2'},
    {name => 'team293',	network => '10.61.37.0/24',	host => '10.61.37.2'},
    {name => 'team294',	network => '10.61.38.0/24',	host => '10.61.38.2'},
    {name => 'team295',	network => '10.61.39.0/24',	host => '10.61.39.2'},
    {name => 'team296',	network => '10.61.40.0/24',	host => '10.61.40.2'},
    {name => 'team297',	network => '10.61.41.0/24',	host => '10.61.41.2'},
    {name => 'team298',	network => '10.61.42.0/24',	host => '10.61.42.2'},
    {name => 'team299',	network => '10.61.43.0/24',	host => '10.61.43.2'},
    {name => 'team300',	network => '10.61.44.0/24',	host => '10.61.44.2'},
    {name => 'team301',	network => '10.61.45.0/24',	host => '10.61.45.2'},
    {name => 'team302',	network => '10.61.46.0/24',	host => '10.61.46.2'},
    {name => 'team303',	network => '10.61.47.0/24',	host => '10.61.47.2'},
    {name => 'team304',	network => '10.61.48.0/24',	host => '10.61.48.2'},
    {name => 'team305',	network => '10.61.49.0/24',	host => '10.61.49.2'},
    {name => 'team306',	network => '10.61.50.0/24',	host => '10.61.50.2'},
    {name => 'team307',	network => '10.61.51.0/24',	host => '10.61.51.2'},
    {name => 'team308',	network => '10.61.52.0/24',	host => '10.61.52.2'},
    {name => 'team309',	network => '10.61.53.0/24',	host => '10.61.53.2'},
    {name => 'team310',	network => '10.61.54.0/24',	host => '10.61.54.2'},
    {name => 'team311',	network => '10.61.55.0/24',	host => '10.61.55.2'},
    {name => 'team312',	network => '10.61.56.0/24',	host => '10.61.56.2'},
    {name => 'team313',	network => '10.61.57.0/24',	host => '10.61.57.2'},
    {name => 'team314',	network => '10.61.58.0/24',	host => '10.61.58.2'},
    {name => 'team315',	network => '10.61.59.0/24',	host => '10.61.59.2'},
    {name => 'team316',	network => '10.61.60.0/24',	host => '10.61.60.2'},
    {name => 'team317',	network => '10.61.61.0/24',	host => '10.61.61.2'},
    {name => 'team318',	network => '10.61.62.0/24',	host => '10.61.62.2'},
    {name => 'team319',	network => '10.61.63.0/24',	host => '10.61.63.2'},
    {name => 'team320',	network => '10.61.64.0/24',	host => '10.61.64.2'},
    {name => 'team321',	network => '10.61.65.0/24',	host => '10.61.65.2'},
    {name => 'team322',	network => '10.61.66.0/24',	host => '10.61.66.2'},
    {name => 'team323',	network => '10.61.67.0/24',	host => '10.61.67.2'},
    {name => 'team324',	network => '10.61.68.0/24',	host => '10.61.68.2'},
    {name => 'team325',	network => '10.61.69.0/24',	host => '10.61.69.2'},
    {name => 'team326',	network => '10.61.70.0/24',	host => '10.61.70.2'},
    {name => 'team327',	network => '10.61.71.0/24',	host => '10.61.71.2'},
    {name => 'team328',	network => '10.61.72.0/24',	host => '10.61.72.2'},
    {name => 'team329',	network => '10.61.73.0/24',	host => '10.61.73.2'},
    {name => 'team330',	network => '10.61.74.0/24',	host => '10.61.74.2'},
    {name => 'team331',	network => '10.61.75.0/24',	host => '10.61.75.2'},
    {name => 'team332',	network => '10.61.76.0/24',	host => '10.61.76.2'},
    {name => 'team333',	network => '10.61.77.0/24',	host => '10.61.77.2'},
    {name => 'team334',	network => '10.61.78.0/24',	host => '10.61.78.2'},
    {name => 'team335',	network => '10.61.79.0/24',	host => '10.61.79.2'},
    {name => 'team336',	network => '10.61.80.0/24',	host => '10.61.80.2'},
    {name => 'team337',	network => '10.61.81.0/24',	host => '10.61.81.2'},
    {name => 'team338',	network => '10.61.82.0/24',	host => '10.61.82.2'},
    {name => 'team339',	network => '10.61.83.0/24',	host => '10.61.83.2'},
    {name => 'team340',	network => '10.61.84.0/24',	host => '10.61.84.2'},
    {name => 'team341',	network => '10.61.85.0/24',	host => '10.61.85.2'},
    {name => 'team342',	network => '10.61.86.0/24',	host => '10.61.86.2'},
    {name => 'team343',	network => '10.61.87.0/24',	host => '10.61.87.2'},
    {name => 'team344',	network => '10.61.88.0/24',	host => '10.61.88.2'},
    {name => 'team345',	network => '10.61.89.0/24',	host => '10.61.89.2'},
    {name => 'team346',	network => '10.61.90.0/24',	host => '10.61.90.2'},
    {name => 'team347',	network => '10.61.91.0/24',	host => '10.61.91.2'},
    {name => 'team348',	network => '10.61.92.0/24',	host => '10.61.92.2'},
    {name => 'team349',	network => '10.61.93.0/24',	host => '10.61.93.2'},
    {name => 'team350',	network => '10.61.94.0/24',	host => '10.61.94.2'},
  ],
  services => [
    {name => 'crash',        path => 'checkers/crash/checker.py',                     timeout => 20, tcp_port => 80},
    {name => 'thebin',       path => 'checkers/thebin/thebin.checker.py',             timeout => 20, tcp_port => 80},
    {name => 'weather',      path => 'checkers/weather/checker',                      timeout => 20, tcp_port => 80},
    {name => 'cartographer', path => 'checkers/cartographer/cartographer.checker.py', timeout => 20, tcp_port => 80},
    {name => 'sapmarine',    path => 'checkers/sapmarine/sapmarine.checker.py',       timeout => 20, tcp_port => 80},
    {name => 'atlablog',     path => 'checkers/atlablog/main.py',                     timeout => 20, tcp_port => 80},
  ],
}
