{name => 'Espacio',	network => '10.60.1.0/24',	host => 'team1.ructfe.org',	logo => 'https://ructfe.org/logos/389a2b0890624dfaeaa22df11ed85fa2.png'},
{name => 'Life',	network => '10.60.2.0/24',	host => 'team2.ructfe.org',	logo => 'https://ructfe.org/logos/dea5251e486aed942e1bc06e1d5c116c.png'},
{name => 'LC↯BC',	network => '10.60.3.0/24',	host => 'team3.ructfe.org',	logo => 'https://ructfe.org/logos/919939aeb75ed9bf2fac4d47717851f1.png'},
{name => 'Eat Sleep Pwn Repeat',	network => '10.60.4.0/24',	host => 'team4.ructfe.org',	logo => 'https://ructfe.org/logos/a31fb1316b290be3b34cbe6a16b6b0d2.png'},
{name => '0daysober',	network => '10.60.5.0/24',	host => 'team5.ructfe.org',	logo => 'https://ructfe.org/logos/67c0118508cbd82088f695f5e25032e7.png'},
{name => 'travestisec',	network => '10.60.6.0/24',	host => 'team6.ructfe.org',	logo => 'https://ructfe.org/logos/19ef3f208a914e08a1d1f44b0ab34ecd.png'},
{name => 'Tower of Hanoi',	network => '10.60.7.0/24',	host => 'team7.ructfe.org',	logo => 'https://ructfe.org/logos/314624d7f873881be0e0c0284d97f919.png'},
{name => 'SharLike',	network => '10.60.8.0/24',	host => 'team8.ructfe.org',	logo => 'https://ructfe.org/logos/dbf324d8351b5ca1a0ed23844e4ca2b3.png'},
{name => 'dcua',	network => '10.60.9.0/24',	host => 'team9.ructfe.org',	logo => 'https://ructfe.org/logos/66c43ab2aa8a2b52056a9e966e037459.png'},
{name => 'Destructive Voice',	network => '10.60.10.0/24',	host => 'team10.ructfe.org',	logo => 'https://ructfe.org/logos/fc295b57c87905eb0c929a792aa75474.png'},
{name => 'VoidHack',	network => '10.60.11.0/24',	host => 'team11.ructfe.org',	logo => 'https://ructfe.org/logos/d147a47c2e19349892af8bcd45773344.png'},
{name => 'Kebry',	network => '10.60.12.0/24',	host => 'team12.ructfe.org',	logo => 'https://ructfe.org/logos/700ba1f43ae190464398d8de50d2a621.png'},
{name => 'd4rkc0de',	network => '10.60.13.0/24',	host => 'team13.ructfe.org',	logo => 'https://ructfe.org/logos/1ddb47c8bb95bb182e2b99c1d7ca6b01.png'},
{name => 'wtf',	network => '10.60.14.0/24',	host => 'team14.ructfe.org',	logo => 'https://ructfe.org/logos/aadce520e20c2899f4ced228a79a3083.png'},
{name => 'Shadow Servants',	network => '10.60.15.0/24',	host => 'team15.ructfe.org',	logo => 'https://ructfe.org/logos/a0d934499096790a8d0c50a6002164b7.png'},
{name => 'h4rdF0rc3',	network => '10.60.16.0/24',	host => 'team16.ructfe.org',	logo => 'https://ructfe.org/logos/f3cf0382269d2423642881be59181197.png'},
{name => 'babysteps',	network => '10.60.17.0/24',	host => 'team17.ructfe.org',	logo => 'https://ructfe.org/logos/4cb6d8a85d1507e65254ab504cff3cc0.png'},
{name => 'ggcorp',	network => '10.60.18.0/24',	host => 'team18.ructfe.org',	logo => 'https://ructfe.org/logos/563d629ccaac9b293f2992e661eecdd8.png'},
{name => 'i-like-turtles',	network => '10.60.19.0/24',	host => 'team19.ructfe.org',	logo => 'https://ructfe.org/logos/310f28a89dc5eb98a564bcd7a0c9090d.png'},
{name => 'BatmansKitchen',	network => '10.60.20.0/24',	host => 'team20.ructfe.org',	logo => 'https://ructfe.org/logos/95022fcbed3ad2d0079586e8553985f5.png'},
{name => 'YanTayga',	network => '10.60.21.0/24',	host => 'team21.ructfe.org',	logo => 'https://ructfe.org/logos/042dcd11b23c012546ad6a7f0d49c1b1.png'},
{name => 'Evil Dwarfs',	network => '10.60.22.0/24',	host => 'team22.ructfe.org',	logo => 'https://ructfe.org/logos/e52ded90340394009f1794d7d5fdc724.png'},
{name => 'Tinpardo',	network => '10.60.23.0/24',	host => 'team23.ructfe.org',	logo => 'https://ructfe.org/logos/521a88d04296c7f8941591a07709f3f5.png'},
{name => 'Lights Out',	network => '10.60.24.0/24',	host => 'team24.ructfe.org',	logo => 'https://ructfe.org/logos/955760f888ee027c5f54a9f409715e69.png'},
{name => 'Glum',	network => '10.60.25.0/24',	host => 'team25.ructfe.org',	logo => 'https://ructfe.org/logos/34e4582d631cc0369558fa58c16e011d.png'},
{name => 'Peterpen',	network => '10.60.26.0/24',	host => 'team26.ructfe.org',	logo => 'https://ructfe.org/logos/0ccc5c0f42a908cd3cb2738f483cdd15.png'},
{name => 'saarsec',	network => '10.60.27.0/24',	host => 'team27.ructfe.org',	logo => 'https://ructfe.org/logos/f2e4320a649ff425c8889ac0059c6316.png'},
{name => 'c00kies@venice',	network => '10.60.28.0/24',	host => 'team28.ructfe.org',	logo => 'https://ructfe.org/logos/c2400ca2b6150453f658550b1fa2e300.png'},
{name => 'AloneInTheDark',	network => '10.60.29.0/24',	host => 'team29.ructfe.org',	logo => 'https://ructfe.org/logos/0009b791952de8a30ca7187af7ddb9ad.png'},
{name => 'FAUST',	network => '10.60.30.0/24',	host => 'team30.ructfe.org',	logo => 'https://ructfe.org/logos/5bb3e69279d5f9cb3566d5458d230554.png'},
{name => 'pwndevils',	network => '10.60.31.0/24',	host => 'team31.ructfe.org',	logo => 'https://ructfe.org/logos/3b8760b4f2cf6e48b1d00e25583124e8.png'},
{name => 'Alamina',	network => '10.60.32.0/24',	host => 'team32.ructfe.org',	logo => 'https://ructfe.org/logos/957ee89eb5c7d735b994c234813d3515.png'},
{name => 'Embedded_tgz',	network => '10.60.33.0/24',	host => 'team33.ructfe.org',	logo => 'https://ructfe.org/logos/b3779eef7473951b3963ae5b816cffaa.png'},
{name => 'ATOMIC',	network => '10.60.34.0/24',	host => 'team34.ructfe.org',	logo => 'https://ructfe.org/logos/ef668eed93582ab6729f8a7e679d4f4a.png'},
{name => 'Deepsea',	network => '10.60.35.0/24',	host => 'team35.ructfe.org',	logo => 'https://ructfe.org/logos/cb20667de8e87b5f0df754a3ed6fcc75.png'},
{name => 'TokyoWesterns',	network => '10.60.36.0/24',	host => 'team36.ructfe.org',	logo => 'https://ructfe.org/logos/d446b5333ee6195be417a31966ae09fc.png'},
{name => 'ENOFLAG',	network => '10.60.37.0/24',	host => 'team37.ructfe.org',	logo => 'https://ructfe.org/logos/021231756d59a85106b0906c0b71ab1b.png'},
{name => 'HacknamStyle',	network => '10.60.38.0/24',	host => 'team38.ructfe.org',	logo => 'https://ructfe.org/logos/bd777045531c03d9d81697ed0060164e.png'},
{name => 'Permission Denied',	network => '10.60.39.0/24',	host => 'team39.ructfe.org',	logo => 'https://ructfe.org/logos/c4a195c14e7e5b76a6c25cf8991042a3.png'},
{name => 'BSUIR',	network => '10.60.40.0/24',	host => 'team40.ructfe.org',	logo => 'https://ructfe.org/logos/19a15a0e9edf692cc6f62094ec1cd500.png'},
{name => 'HacKot',	network => '10.60.41.0/24',	host => 'team41.ructfe.org',	logo => 'https://ructfe.org/logos/2b1d8be386c314a78b773afdd26a2362.png'},
{name => 'THG',	network => '10.60.42.0/24',	host => 'team42.ructfe.org',	logo => 'https://ructfe.org/logos/0b9ccba514c5885cee09ea37861fa624.png'},
{name => 'BlackTR',	network => '10.60.43.0/24',	host => 'team43.ructfe.org',	logo => 'https://ructfe.org/logos/d78f8f94c35844a3b680e11bea29dd7d.png'},
{name => 'hwoop059',	network => '10.60.44.0/24',	host => 'team44.ructfe.org',	logo => 'https://ructfe.org/logos/e4adcdd22955f0d0d82aa2d6e78ac874.png'},
{name => 'CInsects',	network => '10.60.45.0/24',	host => 'team45.ructfe.org',	logo => 'https://ructfe.org/logos/c7644d7dbf19c168577f226f8bd51668.png'},
{name => 'Squareroots',	network => '10.60.46.0/24',	host => 'team46.ructfe.org',	logo => 'https://ructfe.org/logos/529268ae5fcb5e495a271e5d1f002907.png'},
{name => 'WE_0WN_Y0U',	network => '10.60.47.0/24',	host => 'team47.ructfe.org',	logo => 'https://ructfe.org/logos/a30658c9a97f5864359b32499b0e78bf.png'},
{name => 'Авангард священного боевого отряда защиты информационных систем персональных данных',	network => '10.60.48.0/24',	host => 'team48.ructfe.org',	logo => 'https://ructfe.org/logos/02662f46cf70269764062a7db36a7456.png'},
{name => 'GITSH',	network => '10.60.49.0/24',	host => 'team49.ructfe.org',	logo => 'https://ructfe.org/logos/3fe80879ff21bdd79fba13684789991b.png'},
{name => 'TeamWithSuchNameAlreadyExists',	network => '10.60.50.0/24',	host => 'team50.ructfe.org',	logo => 'https://ructfe.org/logos/1639dc455616e477933618aa5aa0b6eb.png'},
{name => '__Joker__',	network => '10.60.51.0/24',	host => 'team51.ructfe.org',	logo => 'https://ructfe.org/logos/67112b4f01fd0ae51de956785fdffc1e.png'},
{name => 'keva',	network => '10.60.52.0/24',	host => 'team52.ructfe.org',	logo => 'https://ructfe.org/logos/76d1e9cd9813174814f63ced57fc21f2.png'},
{name => 'Kernel Space Invaders',	network => '10.60.53.0/24',	host => 'team53.ructfe.org',	logo => 'https://ructfe.org/logos/341c0383c6cdccb5c5e234682d85f615.png'},
{name => 'ked',	network => '10.60.54.0/24',	host => 'team54.ructfe.org',	logo => 'https://ructfe.org/logos/99e53fad809ef372637bddd5cf51d287.png'},
{name => 'v0rt3x',	network => '10.60.55.0/24',	host => 'team55.ructfe.org',	logo => 'https://ructfe.org/logos/921eadd2ade9ea38c0659826e9f1ac91.png'},
{name => 'RedWAGH!',	network => '10.60.56.0/24',	host => 'team56.ructfe.org',	logo => 'https://ructfe.org/logos/9fd936e4e609ead5c6eb7511d367bff5.png'},
{name => 'wasamusume',	network => '10.60.57.0/24',	host => 'team57.ructfe.org',	logo => 'https://ructfe.org/logos/6a2232d4141c3927c8af6dbdd0bd9f25.png'},
{name => 'Attacker',	network => '10.60.58.0/24',	host => 'team58.ructfe.org',	logo => 'https://ructfe.org/logos/2d908fbe1af48e5b1be6456dad0aa504.png'},
{name => 'Luckers',	network => '10.60.59.0/24',	host => 'team59.ructfe.org',	logo => 'https://ructfe.org/logos/75adf8fefc6eae730c1ec601d13b5c62.png'},
{name => 'tester',	network => '10.60.60.0/24',	host => 'team60.ructfe.org',	logo => 'https://ructfe.org/logos/f5d1278e8109edd94e1e4197e04873b9.png'},
{name => 'Magic-Hat',	network => '10.60.61.0/24',	host => 'team61.ructfe.org',	logo => 'https://ructfe.org/logos/0b7bb73af04a74d386ba0bd9d4a4a4a8.png'},
{name => 'RATpoison',	network => '10.60.62.0/24',	host => 'team62.ructfe.org',	logo => 'https://ructfe.org/logos/ca1ed45a959976d715bcd5e130e785a5.png'},
{name => 'LosFuzzys',	network => '10.60.63.0/24',	host => 'team63.ructfe.org',	logo => 'https://ructfe.org/logos/bdc7ce92479fc0181337c5c8481d3e9f.png'},
{name => 'Hackademics',	network => '10.60.64.0/24',	host => 'team64.ructfe.org',	logo => 'https://ructfe.org/logos/22e6b32cb875b74f7545d9d3b378325a.png'},
{name => 'M.I.S.T',	network => '10.60.65.0/24',	host => 'team65.ructfe.org',	logo => 'https://ructfe.org/logos/0bd72d1828cf24cb5c24afbd224f9d9a.png'},
{name => 'Aurora',	network => '10.60.66.0/24',	host => 'team66.ructfe.org',	logo => 'https://ructfe.org/logos/509e0895bd82e3315e79018a6ce02181.png'},
{name => 'LePatron',	network => '10.60.67.0/24',	host => 'team67.ructfe.org',	logo => 'https://ructfe.org/logos/bd7483aa0221a5dfae0702e21bdc9b1e.png'},
{name => '#misec',	network => '10.60.68.0/24',	host => 'team68.ructfe.org',	logo => 'https://ructfe.org/logos/cd777fc3cae86a2946e50badd4133cff.png'},
{name => '[censored]',	network => '10.60.69.0/24',	host => 'team69.ructfe.org',	logo => 'https://ructfe.org/logos/cc3a0c426cb0dd4dc1a25d7990694a45.png'},
{name => 'Beers4Flags',	network => '10.60.70.0/24',	host => 'team70.ructfe.org',	logo => 'https://ructfe.org/logos/5e8b32d5ba132d21e790c54278efc2b2.png'},
{name => 'tiger_team_24\7',	network => '10.60.71.0/24',	host => 'team71.ructfe.org',	logo => 'https://ructfe.org/logos/16fc86ccc8f5b13c81f2bb0775c67ef0.png'},
{name => 'Team X00X',	network => '10.60.72.0/24',	host => 'team72.ructfe.org',	logo => 'https://ructfe.org/logos/28e01246e95a9105cd2caae237acac5c.png'},
{name => 'IntelligentRussianSecurityTeam',	network => '10.60.73.0/24',	host => 'team73.ructfe.org',	logo => 'https://ructfe.org/logos/f1a73bd87394b83589872b37b31a0b62.png'},
{name => 'p4',	network => '10.60.74.0/24',	host => 'team74.ructfe.org',	logo => 'https://ructfe.org/logos/13207e3d5722030f6c97d69b4904d39d.png'},
{name => 'GHU',	network => '10.60.75.0/24',	host => 'team75.ructfe.org',	logo => 'https://ructfe.org/logos/04f2a8a18ec1da1b69d5f7d240ca0106.png'},
{name => 'g0tiu5a',	network => '10.60.76.0/24',	host => 'team76.ructfe.org',	logo => 'https://ructfe.org/logos/5baaa7989a5446eebda665905fb49be5.png'},
{name => 'dodododo',	network => '10.60.77.0/24',	host => 'team77.ructfe.org',	logo => 'https://ructfe.org/logos/f1e09ef95b0f5b2be217ee9d9baa198c.png'},
{name => 'OpenToAll',	network => '10.60.78.0/24',	host => 'team78.ructfe.org',	logo => 'https://ructfe.org/logos/9bfbd0a4d3f871e67865d4a7ee9a9a6d.png'},
{name => 'vulnhub-ctf',	network => '10.60.79.0/24',	host => 'team79.ructfe.org',	logo => 'https://ructfe.org/logos/d5c3f888e8b6c4c6c27d794c4d426540.png'},
{name => 'STT',	network => '10.60.80.0/24',	host => 'team80.ructfe.org',	logo => 'https://ructfe.org/logos/9d82ed816b6f8b88586b476e7740c977.png'},
{name => 'Shark2112',	network => '10.60.81.0/24',	host => 'team81.ructfe.org',	logo => 'https://ructfe.org/logos/86a6a492840f05666490e5901e2c31d7.png'},
{name => 'Котаны',	network => '10.60.82.0/24',	host => 'team82.ructfe.org',	logo => 'https://ructfe.org/logos/8e53396f110112c86d7937d3cb9b6f48.png'},
{name => 'Hack\'n\'Play',	network => '10.60.83.0/24',	host => 'team83.ructfe.org',	logo => 'https://ructfe.org/logos/6cab2ad7d3de404293a358af9efb8536.png'},
{name => 'CUEH: Ethical Slackers',	network => '10.60.84.0/24',	host => 'team84.ructfe.org',	logo => 'https://ructfe.org/logos/c73b00b78ba999c0398e726746c0c4e4.png'},
{name => 'l4_mp',	network => '10.60.85.0/24',	host => 'team85.ructfe.org',	logo => 'https://ructfe.org/logos/7cbe3a44172ae2f8fdf3a0fb04b6cadb.png'},
{name => 'CirclesOf$hell',	network => '10.60.86.0/24',	host => 'team86.ructfe.org',	logo => 'https://ructfe.org/logos/8eb43d5cc7f654c5b3b8a1287ec1a045.png'},
{name => 'Пαʋցһτყ Пеіɡһbоʋг',	network => '10.60.87.0/24',	host => 'team87.ructfe.org',	logo => 'https://ructfe.org/logos/a1a552a5063458ccb51512bf8303a054.png'},
{name => 'SwissMadeSecurity',	network => '10.60.88.0/24',	host => 'team88.ructfe.org',	logo => 'https://ructfe.org/logos/eec976ef118fe957c57ce0cb0c738f00.png'},
{name => 'Kirpichinux',	network => '10.60.89.0/24',	host => 'team89.ructfe.org',	logo => 'https://ructfe.org/logos/430d65a83f5e62501e994c4cd36bca30.png'},
{name => 'Rawsec',	network => '10.60.90.0/24',	host => 'team90.ructfe.org',	logo => 'https://ructfe.org/logos/5c25cd4ccc4690c6e61a6c9b4be1f8fa.png'},
{name => 'XFarce',	network => '10.60.91.0/24',	host => 'team91.ructfe.org',	logo => 'https://ructfe.org/logos/a3184b59907c97a45e39f567c5c36b60.png'},
{name => 'DrunkenMonkey',	network => '10.60.92.0/24',	host => 'team92.ructfe.org',	logo => 'https://ructfe.org/logos/4fb962f4916da07a76e1b18b4ceb3642.png'},
{name => 'Leviathan',	network => '10.60.93.0/24',	host => 'team93.ructfe.org',	logo => 'https://ructfe.org/logos/a91aae52cff9ef65932db06b150ffd47.png'},
{name => 'SiBears',	network => '10.60.94.0/24',	host => 'team94.ructfe.org',	logo => 'https://ructfe.org/logos/8f671b37723df4c58c672264217092d1.png'},
{name => 'MockingJay',	network => '10.60.95.0/24',	host => 'team95.ructfe.org',	logo => 'https://ructfe.org/logos/9a2aa8c5bf58fac30302a92f3ddfa391.png'},
{name => 'Team T2H - LUG Modena',	network => '10.60.96.0/24',	host => 'team96.ructfe.org',	logo => 'https://ructfe.org/logos/54d36a20b043b0685ec5ae57aba334e6.png'},
{name => 'Mason Competitive Cyber',	network => '10.60.97.0/24',	host => 'team97.ructfe.org',	logo => 'https://ructfe.org/logos/0ddddcf4937f93200f706391c5d0ffd6.png'},
{name => 'BoeheimRhapsody',	network => '10.60.98.0/24',	host => 'team98.ructfe.org',	logo => 'https://ructfe.org/logos/8cea837129ea5d03b59331652c2f28a9.png'},
{name => 'Kodok Attack',	network => '10.60.99.0/24',	host => 'team99.ructfe.org',	logo => 'https://ructfe.org/logos/44efafee72bf53d2855572a82253a815.png'},
{name => 'Alphateam',	network => '10.60.100.0/24',	host => 'team100.ructfe.org',	logo => 'https://ructfe.org/logos/17df3b18b4f614b90adaeb5c156839e1.png'},
{name => 'girav',	network => '10.60.101.0/24',	host => 'team101.ructfe.org',	logo => 'https://ructfe.org/logos/f3665bf102dec30cd4e34db398177226.png'},
{name => 'Undefined Behavior',	network => '10.60.102.0/24',	host => 'team102.ructfe.org',	logo => 'https://ructfe.org/logos/a6be9d3517bd38a04cb76c13285ff07b.png'},
{name => 'des',	network => '10.60.103.0/24',	host => 'team103.ructfe.org',	logo => 'https://ructfe.org/logos/0ecee728bf87a4c1a02883004044dcd5.png'},
{name => 'Fourchette Bombe',	network => '10.60.104.0/24',	host => 'team104.ructfe.org',	logo => 'https://ructfe.org/logos/aaeebba43bc66e7f6755f91f018a12d4.png'},
{name => 'Ro420',	network => '10.60.105.0/24',	host => 'team105.ructfe.org',	logo => 'https://ructfe.org/logos/22dafd4dd5de37660a671a8c8f48181c.png'},
{name => 'FNPF',	network => '10.60.106.0/24',	host => 'team106.ructfe.org',	logo => 'https://ructfe.org/logos/661ee254bf6b266151db692c16e1227c.png'},
{name => 'koibasta',	network => '10.60.107.0/24',	host => 'team107.ructfe.org',	logo => 'https://ructfe.org/logos/65c4b4f5a7e71b0a09ef7a29bb5fa152.png'},
{name => 'DTC51',	network => '10.60.108.0/24',	host => 'team108.ructfe.org',	logo => 'https://ructfe.org/logos/08f8ced4294a304ef9a874a4318523f9.png'},
{name => 'ksotik',	network => '10.60.109.0/24',	host => 'team109.ructfe.org',	logo => 'https://ructfe.org/logos/a92d2368fa7eddf3b1e81fab7fd32e5c.png'},
{name => 'CoDA',	network => '10.60.110.0/24',	host => 'team110.ructfe.org',	logo => 'https://ructfe.org/logos/d0b846cc846bdb4fa8bcfa487fe6b965.png'},
{name => 'PHPINFO',	network => '10.60.111.0/24',	host => 'team111.ructfe.org',	logo => 'https://ructfe.org/logos/02ef7d9de24a1646396d0fe34a8d9e71.png'},
{name => 'Stanislav Povolotsky',	network => '10.60.112.0/24',	host => 'team112.ructfe.org',	logo => 'https://ructfe.org/logos/a1e388db45cd37c81655d07133c5fe0b.png'},
{name => 'WildNonames',	network => '10.60.113.0/24',	host => 'team113.ructfe.org',	logo => 'https://ructfe.org/logos/11710aa4c57ed526a3b90155b790d234.png'},
{name => 'Ascope',	network => '10.60.114.0/24',	host => 'team114.ructfe.org',	logo => 'https://ructfe.org/logos/b04e63841cdf004338b3ddd29bced714.png'},
{name => 'Honeypot',	network => '10.60.115.0/24',	host => 'team115.ructfe.org',	logo => 'https://ructfe.org/logos/7c14b358d59f7bfb42fb23f49ce3ea8f.png'},
{name => 'Sherlocked',	network => '10.60.116.0/24',	host => 'team116.ructfe.org',	logo => 'https://ructfe.org/logos/f9dd8d00bf6ea0933cc27d4bbd167cf0.png'},
{name => 'acdwas',	network => '10.60.117.0/24',	host => 'team117.ructfe.org',	logo => 'https://ructfe.org/logos/5287e1aae6891c477736ee69de296636.png'},
{name => 'CatchFM',	network => '10.60.118.0/24',	host => 'team118.ructfe.org',	logo => 'https://ructfe.org/logos/72e0acfd1688810a799399c1923a0a9e.png'},
{name => 'mochigoma',	network => '10.60.119.0/24',	host => 'team119.ructfe.org',	logo => 'https://ructfe.org/logos/ce3a5ab2ce06686d88afbcbf00317b0b.png'},
{name => 'grauwolfteam2131234243',	network => '10.60.120.0/24',	host => 'team120.ructfe.org',	logo => 'https://ructfe.org/logos/fda3978098d0edf742099dd7a631c0aa.png'},
{name => 'Bushwhackers',	network => '10.60.121.0/24',	host => 'team121.ructfe.org',	logo => 'https://ructfe.org/logos/ecb5a7a70669319de8ba7d6303ab0ff3.png'},
{name => 'FTW',	network => '10.60.122.0/24',	host => 'team122.ructfe.org',	logo => 'https://ructfe.org/logos/9483ab8804c03eebb7484621ed33ac50.png'},
{name => 'tmtz',	network => '10.60.123.0/24',	host => 'team123.ructfe.org',	logo => 'https://ructfe.org/logos/1a17a73ac16e4858ad9d5ac2de3ba201.png'},
{name => 'BFReo',	network => '10.60.124.0/24',	host => 'team124.ructfe.org',	logo => 'https://ructfe.org/logos/f0fe0f6dd4940fd2736a7d8fe9257e94.png'},
{name => 'HazyTeam',	network => '10.60.125.0/24',	host => 'team125.ructfe.org',	logo => 'https://ructfe.org/logos/2bb4a2e24e88c11331605d73c9fd9c0b.png'},
{name => 'FluxFingers',	network => '10.60.126.0/24',	host => 'team126.ructfe.org',	logo => 'https://ructfe.org/logos/490663a48542e0aee7cfdbc7ace4c6c0.png'},
{name => 'cyberkastike',	network => '10.60.127.0/24',	host => 'team127.ructfe.org',	logo => 'https://ructfe.org/logos/00cd2200023bd20cbad9d3ebc9d8f8a3.png'},
{name => 'The Cake is a Lie',	network => '10.60.128.0/24',	host => 'team128.ructfe.org',	logo => 'https://ructfe.org/logos/4b4a51b8902a1618caded837ef166428.png'},
{name => '0xc0ffee',	network => '10.60.129.0/24',	host => 'team129.ructfe.org',	logo => 'https://ructfe.org/logos/da0a8adbf4351556b2caf43405c4c55f.png'},
{name => 'merges',	network => '10.60.130.0/24',	host => 'team130.ructfe.org',	logo => 'https://ructfe.org/logos/a03f3f696e7db24b06d3a6b806144742.png'},
{name => 'InKryptz',	network => '10.60.131.0/24',	host => 'team131.ructfe.org',	logo => 'https://ructfe.org/logos/4cd756223362602870e3c975944574d3.png'},
{name => 'Quasi',	network => '10.60.132.0/24',	host => 'team132.ructfe.org',	logo => 'https://ructfe.org/logos/8ae856a9f7befcb8ced7fb84160211af.png'},
{name => 'Caesar Salad',	network => '10.60.133.0/24',	host => 'team133.ructfe.org',	logo => 'https://ructfe.org/logos/959efafa6d437381224f694e76d79315.png'},
{name => 'CarpeDiem!',	network => '10.60.134.0/24',	host => 'team134.ructfe.org',	logo => 'https://ructfe.org/logos/3d542aad1da472bfcc07a025f5307eec.png'},
{name => 'vader_team',	network => '10.60.135.0/24',	host => 'team135.ructfe.org',	logo => 'https://ructfe.org/logos/95816df5bf7a3121779002acccae1bac.png'},
{name => 'meaT terceS',	network => '10.60.136.0/24',	host => 'team136.ructfe.org',	logo => 'https://ructfe.org/logos/2f29adf645b6edf178da9387ac41ec7f.png'},
{name => 'IngloriousMonkeys',	network => '10.60.137.0/24',	host => 'team137.ructfe.org',	logo => 'https://ructfe.org/logos/97eb4c6448573528d20cc827befb9eed.png'},
{name => 'Team MLG',	network => '10.60.138.0/24',	host => 'team138.ructfe.org',	logo => 'https://ructfe.org/logos/cd3d42a5f170e73b40f10f4193aeb78d.png'},
{name => 'okudo3',	network => '10.60.139.0/24',	host => 'team139.ructfe.org',	logo => 'https://ructfe.org/logos/43ab687fff129546870c9f344fafe899.png'},
{name => 'hakona',	network => '10.60.140.0/24',	host => 'team140.ructfe.org',	logo => 'https://ructfe.org/logos/3fdbc3f0863ae187278acbefb8fdb768.png'},
{name => 'Leet Zeppelin',	network => '10.60.141.0/24',	host => 'team141.ructfe.org',	logo => 'https://ructfe.org/logos/62ec5a9eac2e2e58fe0f5b0e198006f0.png'},
{name => '8bit',	network => '10.60.142.0/24',	host => 'team142.ructfe.org',	logo => 'https://ructfe.org/logos/0562bd8183d7168ea1388ccea6f25e9b.png'},
{name => 'bi0s',	network => '10.60.143.0/24',	host => 'team143.ructfe.org',	logo => 'https://ructfe.org/logos/abca20e0bf0c8aabf68fb1e7b0fd9364.png'},
{name => 'OneManTeam',	network => '10.60.144.0/24',	host => 'team144.ructfe.org',	logo => 'https://ructfe.org/logos/1076b3256a84f8a585717bbd97a43fb4.png'},
{name => 'UFOlogists',	network => '10.60.145.0/24',	host => 'team145.ructfe.org',	logo => 'https://ructfe.org/logos/e0b2e9021d6331eea2600ebed214e7bd.png'},
{name => 'DoomsdayBunnies',	network => '10.60.146.0/24',	host => 'team146.ructfe.org',	logo => 'https://ructfe.org/logos/f2e1c95bacc92f7740772c2ed7955675.png'},
{name => 'FinHackers',	network => '10.60.147.0/24',	host => 'team147.ructfe.org',	logo => 'https://ructfe.org/logos/e0077c6418e3561d9ab09e14d578fdbb.png'},
{name => 'tobys',	network => '10.60.148.0/24',	host => 'team148.ructfe.org',	logo => 'https://ructfe.org/logos/c6b090c47efc63ef549d3f79677af86a.png'},
{name => 'penoplast',	network => '10.60.149.0/24',	host => 'team149.ructfe.org',	logo => 'https://ructfe.org/logos/fc8787b99be6998a5b7ebef58eae576f.png'},
{name => 'MrR0b0t',	network => '10.60.150.0/24',	host => 'team150.ructfe.org',	logo => 'https://ructfe.org/logos/eb90d420486ad8df1c16bf521eb94570.png'},
{name => 'CCSF_HACKERS',	network => '10.60.151.0/24',	host => 'team151.ructfe.org',	logo => 'https://ructfe.org/logos/7056f5978221dffab4694462767ed454.png'},
{name => 'alexievich',	network => '10.60.152.0/24',	host => 'team152.ructfe.org',	logo => 'https://ructfe.org/logos/57562a54808f6030f218ba6d9628ba3f.png'},
{name => 'Retsos',	network => '10.60.153.0/24',	host => 'team153.ructfe.org',	logo => 'https://ructfe.org/logos/f08028713a5c2463820d597e0d3abe92.png'},
{name => 'MrMugiwara',	network => '10.60.154.0/24',	host => 'team154.ructfe.org',	logo => 'https://ructfe.org/logos/3121de8366b15b29613a8dc49d72e266.png'},
{name => '0xFF',	network => '10.60.155.0/24',	host => 'team155.ructfe.org',	logo => 'https://ructfe.org/logos/364101b13604fb83e0704f6865455c5d.png'},
{name => 'iriskinn',	network => '10.60.156.0/24',	host => 'team156.ructfe.org',	logo => 'https://ructfe.org/logos/76e16f28148f21d425a8868c64137f47.png'},
{name => 'shinji-kun',	network => '10.60.157.0/24',	host => 'team157.ructfe.org',	logo => 'https://ructfe.org/logos/84b65bb9be3fb6dab0a7124b590b9494.png'},
{name => 'equi',	network => '10.60.158.0/24',	host => 'team158.ructfe.org',	logo => 'https://ructfe.org/logos/05bfee35beb19ade49710084cbb908cf.png'},
{name => 'MSHP SSL: The Black Firm',	network => '10.60.159.0/24',	host => 'team159.ructfe.org',	logo => 'https://ructfe.org/logos/e3a32c1d2800aba995ccbc36f8b5e4f7.png'},
{name => 'EVA',	network => '10.60.160.0/24',	host => 'team160.ructfe.org',	logo => 'https://ructfe.org/logos/4ba389f6e8a3692d46102e09d396ddc2.png'},
{name => '0b110100100',	network => '10.60.161.0/24',	host => 'team161.ructfe.org',	logo => 'https://ructfe.org/logos/0af6d15a2668e75b0d196f1961dda8a5.png'},
{name => 'Lilac',	network => '10.60.162.0/24',	host => 'team162.ructfe.org',	logo => 'https://ructfe.org/logos/761f3235f57b6664ac9eb2518edc1478.png'},
{name => 'ToxicProxy',	network => '10.60.163.0/24',	host => 'team163.ructfe.org',	logo => 'https://ructfe.org/logos/478d354d942bff99031fbeba12ea585c.png'},
{name => '2hopeless',	network => '10.60.164.0/24',	host => 'team164.ructfe.org',	logo => 'https://ructfe.org/logos/759674a1d14f5d727dab03d29af6567c.png'},
{name => 'MSHP SSL: The Elite Firm',	network => '10.60.165.0/24',	host => 'team165.ructfe.org',	logo => 'https://ructfe.org/logos/a9b880c99bcb3d21c2c57b9c32871a3c.png'},
{name => 'ELF',	network => '10.60.166.0/24',	host => 'team166.ructfe.org',	logo => 'https://ructfe.org/logos/b61b2d6c6fa62903b882aaa53452c111.png'},
{name => 'takisystema',	network => '10.60.167.0/24',	host => 'team167.ructfe.org',	logo => 'https://ructfe.org/logos/99bd023f5108bbd9be2e0f0dfaa6f0ae.png'},
{name => 'Red Xander',	network => '10.60.168.0/24',	host => 'team168.ructfe.org',	logo => 'https://ructfe.org/logos/cb74aa1d96f9da09826bf918f06ee720.png'},
{name => 'noraneco',	network => '10.60.169.0/24',	host => 'team169.ructfe.org',	logo => 'https://ructfe.org/logos/7909c30117046304afe5c5f57bc46994.png'},
{name => 'Telecel',	network => '10.60.170.0/24',	host => 'team170.ructfe.org',	logo => 'https://ructfe.org/logos/fea10bb533982606dd5ca30d4b9c0603.png'},
{name => 'K.Y.S.',	network => '10.60.171.0/24',	host => 'team171.ructfe.org',	logo => 'https://ructfe.org/logos/012911caf10c96ab643ecb214bc6d6f1.png'},
{name => 'RTFM - Red Team Freakin\' Maniacs',	network => '10.60.172.0/24',	host => 'team172.ructfe.org',	logo => 'https://ructfe.org/logos/f59d21e457f31b648d693c26696e04e3.png'},
{name => '0xCB3',	network => '10.60.173.0/24',	host => 'team173.ructfe.org',	logo => 'https://ructfe.org/logos/19fe4b17b35c136ca851641b5416a1e9.png'},
{name => '9SOC',	network => '10.60.174.0/24',	host => 'team174.ructfe.org',	logo => 'https://ructfe.org/logos/bbcee22e099e44a86e73f306340bbe65.png'},
{name => 'CIV225',	network => '10.60.175.0/24',	host => 'team175.ructfe.org',	logo => 'https://ructfe.org/logos/6068a648d1e86375d812d7470c8dc612.png'},
{name => 'bitsforeveryone',	network => '10.60.176.0/24',	host => 'team176.ructfe.org',	logo => 'https://ructfe.org/logos/25864a5fc0e6b49f75dd38dcab622f6e.png'},
{name => 'TXST-CS',	network => '10.60.177.0/24',	host => 'team177.ructfe.org',	logo => 'https://ructfe.org/logos/8e2a68368e3aff330902ec963a2247fc.png'},
{name => 'ITCMUDTU',	network => '10.60.178.0/24',	host => 'team178.ructfe.org',	logo => 'https://ructfe.org/logos/5ac620a8a6b57879eb2e4fd069ea55d2.png'},
{name => 'Kotobuki',	network => '10.60.179.0/24',	host => 'team179.ructfe.org',	logo => 'https://ructfe.org/logos/728c22afb106aaffa3019da9427a5b97.png'},
{name => 'Lemondogs',	network => '10.60.180.0/24',	host => 'team180.ructfe.org',	logo => 'https://ructfe.org/logos/cfc4c948bf338266ed1131d29b42d13f.png'},
{name => 'grnmteam',	network => '10.60.181.0/24',	host => 'team181.ructfe.org',	logo => 'https://ructfe.org/logos/83a62b4678330bff9f3380f905797d85.png'},
{name => 'cafuchino',	network => '10.60.182.0/24',	host => 'team182.ructfe.org',	logo => 'https://ructfe.org/logos/1b982862cf7e6e533134b9a4caa84ad6.png'},
{name => 'dokko',	network => '10.60.183.0/24',	host => 'team183.ructfe.org',	logo => 'https://ructfe.org/logos/ede7930641db553d3a5202c6a14b0afc.png'},
{name => 'ThirdEye',	network => '10.60.184.0/24',	host => 'team184.ructfe.org',	logo => 'https://ructfe.org/logos/6575d14eb0c3454685e84d3c3e09955e.png'},
{name => 'AsssassiNOPs',	network => '10.60.185.0/24',	host => 'team185.ructfe.org',	logo => 'https://ructfe.org/logos/295f70e6ee228d376cedfe8d823853b1.png'},
{name => 'bitboom',	network => '10.60.186.0/24',	host => 'team186.ructfe.org',	logo => 'https://ructfe.org/logos/0eb8894111d8c31ab6931fae41a45616.png'},
{name => 'PPP',	network => '10.60.187.0/24',	host => 'team187.ructfe.org',	logo => 'https://ructfe.org/logos/b55e74d4007b674b329d70f5550028ba.png'},
{name => 'Wunderwaffe',	network => '10.60.188.0/24',	host => 'team188.ructfe.org',	logo => 'https://ructfe.org/logos/bf288ac7390abe0aea8bf880912d9cc4.png'},
{name => 'x10AUG2050',	network => '10.60.189.0/24',	host => 'team189.ructfe.org',	logo => 'https://ructfe.org/logos/d66fa55227a4e0209d86a5d886ed08c3.png'},
{name => 'Careless',	network => '10.60.190.0/24',	host => 'team190.ructfe.org',	logo => 'https://ructfe.org/logos/8857fd868f53d82af1b0d50fbaadaae8.png'},
{name => 'BIBI',	network => '10.60.191.0/24',	host => 'team191.ructfe.org',	logo => 'https://ructfe.org/logos/cc19432da10e90b98fe84c8dc1bcad9d.png'},
{name => 'Переподвысмотрит',	network => '10.60.192.0/24',	host => 'team192.ructfe.org',	logo => 'https://ructfe.org/logos/aa043f1f5a6ffde168987d058aeb6a7a.png'},
{name => 'DoubleSigma',	network => '10.60.193.0/24',	host => 'team193.ructfe.org',	logo => 'https://ructfe.org/logos/86193f553d7f7a0502fb6995fa5610b9.png'},
{name => 'alert1',	network => '10.60.194.0/24',	host => 'team194.ructfe.org',	logo => 'https://ructfe.org/logos/f3312b1a03e36409470c404bd2f81e6f.png'},
{name => '#miet',	network => '10.60.195.0/24',	host => 'team195.ructfe.org',	logo => 'https://ructfe.org/logos/d1be55a7ab84f73d565575225b5309be.png'},
{name => 'Now',	network => '10.60.196.0/24',	host => 'team196.ructfe.org',	logo => 'https://ructfe.org/logos/1e1cc9bdeb2f29f5480106aec7e9bc48.png'},
{name => 'Justice of Chaos (JoC)',	network => '10.60.197.0/24',	host => 'team197.ructfe.org',	logo => 'https://ructfe.org/logos/e948a841df8cf359a5876efc25812865.png'},
{name => 'soleman',	network => '10.60.198.0/24',	host => 'team198.ructfe.org',	logo => 'https://ructfe.org/logos/80e21f4144395c8dce51e3c215449cc1.png'},
{name => 'well_just_let_it_be',	network => '10.60.199.0/24',	host => 'team199.ructfe.org',	logo => 'https://ructfe.org/logos/851db986f7a6917e6978e2a48a59cac3.png'},
{name => 'one',	network => '10.60.200.0/24',	host => 'team200.ructfe.org',	logo => 'https://ructfe.org/logos/f97c5d29941bfb1b2fdab0874906ab82.png'},
{name => 'ASIS',	network => '10.60.201.0/24',	host => 'team201.ructfe.org',	logo => 'https://ructfe.org/logos/f0bbe167a0195d9e9e25a922a8588ed9.png'},
{name => 'NIS',	network => '10.60.202.0/24',	host => 'team202.ructfe.org',	logo => 'https://ructfe.org/logos/214d81d8672097921e223fb3e62fa879.png'},
{name => 'khack40',	network => '10.60.203.0/24',	host => 'team203.ructfe.org',	logo => 'https://ructfe.org/logos/a93e6b421943dc3da329c3dad33fa799.png'},
{name => 'none',	network => '10.60.204.0/24',	host => 'team204.ructfe.org',	logo => 'https://ructfe.org/logos/334c4a4c42fdb79d7ebc3e73b517e6f8.png'},
{name => 'Prion',	network => '10.60.205.0/24',	host => 'team205.ructfe.org',	logo => 'https://ructfe.org/logos/14972b8a7d1fb622bb48d908ccb3aeed.png'},
{name => 'CyberTeam6',	network => '10.60.206.0/24',	host => 'team206.ructfe.org',	logo => 'https://ructfe.org/logos/1f15c84ed1205806d5f109cb5d48f207.png'},
{name => 'nacayoshi00',	network => '10.60.207.0/24',	host => 'team207.ructfe.org',	logo => 'https://ructfe.org/logos/22dd9998d892d1dde86e54c5469fe332.png'},
{name => 'Hatstack',	network => '10.60.208.0/24',	host => 'team208.ructfe.org',	logo => 'https://ructfe.org/logos/15e3de4aa30435d89f3519cef5036a4f.png'},
{name => 'Sky\'s',	network => '10.60.209.0/24',	host => 'team209.ructfe.org',	logo => 'https://ructfe.org/logos/94613630106fb14104514c40c3af73a9.png'},
{name => 'Shady Hats',	network => '10.60.210.0/24',	host => 'team210.ructfe.org',	logo => 'https://ructfe.org/logos/2bdcd42143609029477471732c821e3a.png'},
{name => 'Ethical Hackers Club',	network => '10.60.211.0/24',	host => 'team211.ructfe.org',	logo => 'https://ructfe.org/logos/8ada4bac0ede099e49380adca008852e.png'},
{name => 'SFT0',	network => '10.60.212.0/24',	host => 'team212.ructfe.org',	logo => 'https://ructfe.org/logos/3a27ad92290592ebe9c24e20e4b2d00e.png'},
{name => 'avs',	network => '10.60.213.0/24',	host => 'team213.ructfe.org',	logo => 'https://ructfe.org/logos/d788a5499d320b05602a6a0805c81403.png'},
{name => 'SiLeNt',	network => '10.60.214.0/24',	host => 'team214.ructfe.org',	logo => 'https://ructfe.org/logos/c0a04b6ed887837ccd29e213e3557879.png'},
{name => 'no_name',	network => '10.60.215.0/24',	host => 'team215.ructfe.org',	logo => 'https://ructfe.org/logos/082d137da8ab53c6f4dbbfff1b16237a.png'},
{name => 'Mr_Zer0',	network => '10.60.216.0/24',	host => 'team216.ructfe.org',	logo => 'https://ructfe.org/logos/a0520ad18eedd1cdfe21e4362071d68b.png'},
{name => 'hy00un',	network => '10.60.217.0/24',	host => 'team217.ructfe.org',	logo => 'https://ructfe.org/logos/f68d9025573a537043990c280e1e3c78.png'},
{name => 'BreakPoint',	network => '10.60.218.0/24',	host => 'team218.ructfe.org',	logo => 'https://ructfe.org/logos/fcb5062da718ef0fc68bf1816166fc02.png'},
{name => 'Cv4k5ie',	network => '10.60.219.0/24',	host => 'team219.ructfe.org',	logo => 'https://ructfe.org/logos/8ccb2f82e2d5cdf6fa3e2920cedcdf32.png'},
{name => 'k3',	network => '10.60.220.0/24',	host => 'team220.ructfe.org',	logo => 'https://ructfe.org/logos/f7ab469d1dc79166fc874dadcc0dd854.png'},
{name => '0xff',	network => '10.60.221.0/24',	host => 'team221.ructfe.org',	logo => 'https://ructfe.org/logos/2aaef1cf9239ec798091ce50dcd6593a.png'},
{name => 'NULL Life',	network => '10.60.222.0/24',	host => 'team222.ructfe.org',	logo => 'https://ructfe.org/logos/b35784e694673c31b9b703c8f0ac9e2e.png'},
{name => 'starjun',	network => '10.60.223.0/24',	host => 'team223.ructfe.org',	logo => 'https://ructfe.org/logos/60b0e30354bd0015ded05d1030e2e634.png'},
{name => 'knightsec',	network => '10.60.224.0/24',	host => 'team224.ructfe.org',	logo => 'https://ructfe.org/logos/1cc47d5753401b48d6993c2e99ac6889.png'},
{name => 'Colonel 0x20',	network => '10.60.225.0/24',	host => 'team225.ructfe.org',	logo => 'https://ructfe.org/logos/725d25679c91da3f0c08437fe9c789bc.png'},
{name => 'farmingsimulator2015',	network => '10.60.226.0/24',	host => 'team226.ructfe.org',	logo => 'https://ructfe.org/logos/98f06e4dd00cf6bcf8027ffa1add6f94.png'},
{name => 'fuffateamTesting',	network => '10.60.227.0/24',	host => 'team227.ructfe.org',	logo => 'https://ructfe.org/logos/a6df7d4c1fecfca799f2f6d4d8873b25.png'},
{name => 'b0tch_sec',	network => '10.60.228.0/24',	host => 'team228.ructfe.org',	logo => 'https://ructfe.org/logos/40aae0f990cb051d672f406064f34081.png'},
{name => 'AVP',	network => '10.60.229.0/24',	host => 'team229.ructfe.org',	logo => 'https://ructfe.org/logos/75369766cca186b69524a0829771ab62.png'},
{name => 'TheBotSquad',	network => '10.60.230.0/24',	host => 'team230.ructfe.org',	logo => 'https://ructfe.org/logos/48a8b3f90bf9ecf8effa08ea810a8fca.png'},
{name => 'AKINCILAR-NAU',	network => '10.60.231.0/24',	host => 'team231.ructfe.org',	logo => 'https://ructfe.org/logos/40a19500e79a11654a889e661bf957ce.png'},
{name => 'sesha569',	network => '10.60.232.0/24',	host => 'team232.ructfe.org',	logo => 'https://ructfe.org/logos/a10fcf62596705b9c912a3776e41fad2.png'},
{name => 'b84me',	network => '10.60.233.0/24',	host => 'team233.ructfe.org',	logo => 'https://ructfe.org/logos/a7c89846fde5ce7839058d7c237af74a.png'},
{name => 'b1n4ry4rms',	network => '10.60.234.0/24',	host => 'team234.ructfe.org',	logo => 'https://ructfe.org/logos/d46ca63595da60b9ed6502ba535ebba2.png'},
{name => 'qy2016',	network => '10.60.235.0/24',	host => 'team235.ructfe.org',	logo => 'https://ructfe.org/logos/9b48af7b6a007352c954467bc7db70c0.png'},
{name => 'GRACHI',	network => '10.60.236.0/24',	host => 'team236.ructfe.org',	logo => 'https://ructfe.org/logos/048623318f3f5b99c34914639b4aa141.png'},
{name => 'Flagger',	network => '10.60.237.0/24',	host => 'team237.ructfe.org',	logo => 'https://ructfe.org/logos/8189decbfe15ff110065fa3f449fe356.png'},
{name => 'OS Sol',	network => '10.60.238.0/24',	host => 'team238.ructfe.org',	logo => 'https://ructfe.org/logos/8927c82c50439179a5ed8ceb487fc5a0.png'},
{name => 'MhackGyver',	network => '10.60.239.0/24',	host => 'team239.ructfe.org',	logo => 'https://ructfe.org/logos/a8f5fe6aa24a8f4c0737f5d096132f4b.png'},
{name => 'bin_dojo',	network => '10.60.240.0/24',	host => 'team240.ructfe.org',	logo => 'https://ructfe.org/logos/a28f0ac2d364001197776c14c4846ab8.png'},
{name => 'KBshechka',	network => '10.60.241.0/24',	host => 'team241.ructfe.org',	logo => 'https://ructfe.org/logos/31e97e096ddd42f2fbc678deea6fd123.png'},
{name => 'pogis',	network => '10.60.242.0/24',	host => 'team242.ructfe.org',	logo => 'https://ructfe.org/logos/75c84583514a2e075707fc8f8be9cded.png'},
{name => 'C43S4RS',	network => '10.60.243.0/24',	host => 'team243.ructfe.org',	logo => 'https://ructfe.org/logos/06e0d73acf03143a3762e82e5374d19a.png'},
{name => 'Zork',	network => '10.60.244.0/24',	host => 'team244.ructfe.org',	logo => 'https://ructfe.org/logos/d3e9c8be703439e01d15349602217148.png'},
{name => 'FIXME',	network => '10.60.245.0/24',	host => 'team245.ructfe.org',	logo => 'https://ructfe.org/logos/56d7695ca8704408ad31db87db6e8fec.png'},
{name => 'rEdBacK',	network => '10.60.246.0/24',	host => 'team246.ructfe.org',	logo => 'https://ructfe.org/logos/8265bd5b5336e31afcf7b45ac15167d1.png'},
{name => '#TeaM.Tempo',	network => '10.60.247.0/24',	host => 'team247.ructfe.org',	logo => 'https://ructfe.org/logos/00e07a60e578d8249335912e59aaaf67.png'},
{name => 'Dragon Sector',	network => '10.60.248.0/24',	host => 'team248.ructfe.org',	logo => 'https://ructfe.org/logos/54e2e50ab756f11d8d41126474b515c4.png'},
{name => 'paperwhale',	network => '10.60.249.0/24',	host => 'team249.ructfe.org',	logo => 'https://ructfe.org/logos/76ced46d84f722bb988d499b32f680a6.png'},
{name => 'BITSkrieg',	network => '10.60.250.0/24',	host => 'team250.ructfe.org',	logo => 'https://ructfe.org/logos/64bbf8d08a6ae2495206cdd672a1df89.png'},
{name => 'theBBB',	network => '10.60.251.0/24',	host => 'team251.ructfe.org',	logo => 'https://ructfe.org/logos/018fbcaf7235b13c296c3be051601d3d.png'},
{name => 'Tnoru',	network => '10.60.252.0/24',	host => 'team252.ructfe.org',	logo => 'https://ructfe.org/logos/c4740b55dd27e895c54c2234a7c95442.png'},
{name => 'D3siprox',	network => '10.60.253.0/24',	host => 'team253.ructfe.org',	logo => 'https://ructfe.org/logos/334d3751ecba78d854fc23f76d5a8fd0.png'},
{name => 'ZeroDimension',	network => '10.60.254.0/24',	host => 'team254.ructfe.org',	logo => 'https://ructfe.org/logos/212024a723b98c5b54485a4a045e9e88.png'},
{name => '/dev',	network => '10.60.255.0/24',	host => 'team255.ructfe.org',	logo => 'https://ructfe.org/logos/5a500f0368bd01ae8dc965a89133d5b3.png'},
{name => 'idberctf',	network => '10.61.0.0/24',	host => 'team256.ructfe.org',	logo => 'https://ructfe.org/logos/92936299e9e45bf05873695881ead5fd.png'},
{name => '!SpamAndHex',	network => '10.61.1.0/24',	host => 'team257.ructfe.org',	logo => 'https://ructfe.org/logos/cc08b166779b1d95938347f172ddd382.png'},
{name => 'Brizz',	network => '10.61.2.0/24',	host => 'team258.ructfe.org',	logo => 'https://ructfe.org/logos/0a7c15b8702ebdc6706ebef40309126e.png'},
{name => 'w0pr',	network => '10.61.3.0/24',	host => 'team259.ructfe.org',	logo => 'https://ructfe.org/logos/78d3f572f9c9df413f1494c5da63c560.png'},
{name => 'PoznaszNasLegolas',	network => '10.61.4.0/24',	host => 'team260.ructfe.org',	logo => 'https://ructfe.org/logos/90042ac6cb455bfb47da00d6eb2cb7af.png'},
{name => 'shakalCTF',	network => '10.61.5.0/24',	host => 'team261.ructfe.org',	logo => 'https://ructfe.org/logos/a2210a5ee0d7bb581193715f9d4a89a2.png'},
{name => 'Wall Breakers',	network => '10.61.6.0/24',	host => 'team262.ructfe.org',	logo => 'https://ructfe.org/logos/cb378c9c742dbe452c3312fbaac56a46.png'},
{name => 'TU6PM',	network => '10.61.7.0/24',	host => 'team263.ructfe.org',	logo => 'https://ructfe.org/logos/c5d042c59846d700db519b4e1c1bb072.png'},
{name => 'HDCP',	network => '10.61.8.0/24',	host => 'team264.ructfe.org',	logo => 'https://ructfe.org/logos/5f0f95e91f09653640393017f79fe296.png'},
{name => 'SpyDer',	network => '10.61.9.0/24',	host => 'team265.ructfe.org',	logo => 'https://ructfe.org/logos/43a77ad66044f91c61fc2f391cce2dab.png'},
{name => 'Lumen Sec',	network => '10.61.10.0/24',	host => 'team266.ructfe.org',	logo => 'https://ructfe.org/logos/db0c06948eeb74e9b0448a38c8a6990c.png'},
{name => 'ELT',	network => '10.61.11.0/24',	host => 'team267.ructfe.org',	logo => 'https://ructfe.org/logos/7b34e5ad8d2e250eff4037a07267b3c8.png'},
{name => 'BlueTeam',	network => '10.61.12.0/24',	host => 'team268.ructfe.org',	logo => 'https://ructfe.org/logos/cd2048d707014a8eed7a554797245014.png'},
{name => 'Rainbow_bash',	network => '10.61.13.0/24',	host => 'team269.ructfe.org',	logo => 'https://ructfe.org/logos/7d96b1b72e2b8fc9ba2948d93165fc11.png'},
{name => 'Just Hit The Core',	network => '10.61.14.0/24',	host => 'team270.ructfe.org',	logo => 'https://ructfe.org/logos/8307cebfee06619d945480c973b47f45.png'},
{name => 'SpbCTF',	network => '10.61.15.0/24',	host => 'team271.ructfe.org',	logo => 'https://ructfe.org/logos/6fc7857db212fe6cdda596ddb7070c19.png'},
{name => 'h4th4t',	network => '10.61.16.0/24',	host => 'team272.ructfe.org',	logo => 'https://ructfe.org/logos/93523991927ec415916e27ab2f168bef.png'},
{name => 'thedevilhacks',	network => '10.61.17.0/24',	host => 'team273.ructfe.org',	logo => 'https://ructfe.org/logos/90197c1f854a1bf03468c0d291cde4a7.png'},
{name => 'abstergoindustries',	network => '10.61.18.0/24',	host => 'team274.ructfe.org',	logo => 'https://ructfe.org/logos/5d2794e3637fe37bf11522bf0be0a463.png'},
{name => 'RST',	network => '10.61.19.0/24',	host => 'team275.ructfe.org',	logo => 'https://ructfe.org/logos/fbe78d395b48369284faffb0ce9d5c0f.png'},
{name => 'irGeeks',	network => '10.61.20.0/24',	host => 'team276.ructfe.org',	logo => 'https://ructfe.org/logos/027c36f7982bb52dc41e3fda43c0032a.png'},
{name => 'Pepsol0',	network => '10.61.21.0/24',	host => 'team277.ructfe.org',	logo => 'https://ructfe.org/logos/df68c249766cc2be5e63a5841426978f.png'},
{name => 'interr0bang',	network => '10.61.22.0/24',	host => 'team278.ructfe.org',	logo => 'https://ructfe.org/logos/ee0841bd1934bdb0e5a622f2edab4db6.png'},
{name => 'CatChamber',	network => '10.61.23.0/24',	host => 'team279.ructfe.org',	logo => 'https://ructfe.org/logos/9b93a5315e8efba715456e04f6ae4861.png'},
{name => '[TechnoPandas]',	network => '10.61.24.0/24',	host => 'team280.ructfe.org',	logo => 'https://ructfe.org/logos/905641469be348eba41e60fc00fa00ed.png'},
{name => 'KerimousLegion(KL)',	network => '10.61.25.0/24',	host => 'team281.ructfe.org',	logo => 'https://ructfe.org/logos/ca5c173ff7ef1257d36e4cd4b39746b1.png'},
{name => 'b1t',	network => '10.61.26.0/24',	host => 'team282.ructfe.org',	logo => 'https://ructfe.org/logos/d0e8e1988674b6aae39d3b9cda6ae8b7.png'},
{name => 'anaconda',	network => '10.61.27.0/24',	host => 'team283.ructfe.org',	logo => 'https://ructfe.org/logos/7e3332c5fd0270d97c964e52ba184ad8.png'},
{name => 'press-f1',	network => '10.61.28.0/24',	host => 'team284.ructfe.org',	logo => 'https://ructfe.org/logos/712a2f12c88fef479af5635857e0a7f7.png'},
{name => 'onemanteam',	network => '10.61.29.0/24',	host => 'team285.ructfe.org',	logo => 'https://ructfe.org/logos/65ac1114bd1cb461e8cb6e4a00766796.png'},
{name => 'Tarun',	network => '10.61.30.0/24',	host => 'team286.ructfe.org',	logo => 'https://ructfe.org/logos/9d24daf04a9692bbbe89f1341f6631dc.png'},
{name => 'Invulnerable',	network => '10.61.31.0/24',	host => 'team287.ructfe.org',	logo => 'https://ructfe.org/logos/2f2d4cc4e9a1e88c7663869f1e0b049b.png'},
{name => 'Useful Hack',	network => '10.61.32.0/24',	host => 'team288.ructfe.org',	logo => 'https://ructfe.org/logos/4bc16c6a5c9affc7795513a627543f68.png'},
{name => 'Dymanosi',	network => '10.61.33.0/24',	host => 'team289.ructfe.org',	logo => 'https://ructfe.org/logos/f5cc457d93e812b765424c596362ea8f.png'},
{name => 'SGP',	network => '10.61.34.0/24',	host => 'team290.ructfe.org',	logo => 'https://ructfe.org/logos/c20bd397d37d167d6e4c23b346cb4c04.png'},
{name => 'inkz',	network => '10.61.35.0/24',	host => 'team291.ructfe.org',	logo => 'https://ructfe.org/logos/6ece145291ad0167811cd43aacd043e7.png'},
{name => 'Naomi',	network => '10.61.36.0/24',	host => 'team292.ructfe.org',	logo => 'https://ructfe.org/logos/c7201fdad05b3f201cc00bdae8264f0c.png'},
{name => 'JustStarted',	network => '10.61.37.0/24',	host => 'team293.ructfe.org',	logo => 'https://ructfe.org/logos/c98235bf998cfa5e5c444f6db11a550d.png'},
{name => 'S4k_in',	network => '10.61.38.0/24',	host => 'team294.ructfe.org',	logo => 'https://ructfe.org/logos/b56384f960ffc6c16664e4142c4994a1.png'},
{name => 'sherdom',	network => '10.61.39.0/24',	host => 'team295.ructfe.org',	logo => 'https://ructfe.org/logos/b428b567916439ebfc711bff918d3b24.png'},
{name => 'Sor17',	network => '10.61.40.0/24',	host => 'team296.ructfe.org',	logo => 'https://ructfe.org/logos/5cbbe0639b7b4638663c8b17ba5a5731.png'},
{name => 'Accio, flag! #1',	network => '10.61.41.0/24',	host => 'team297.ructfe.org',	logo => 'https://ructfe.org/logos/9b6eecc333050cb1c50f0dccaca9f053.png'},
{name => 'UIT-BH',	network => '10.61.42.0/24',	host => 'team298.ructfe.org',	logo => 'https://ructfe.org/logos/244b0b193e98b6f80c6e54f272659bf7.png'},
{name => 'Milla',	network => '10.61.43.0/24',	host => 'team299.ructfe.org',	logo => 'https://ructfe.org/logos/45cf0aa0166ba9440468e717c8072d9b.png'},
{name => 'Learko',	network => '10.61.44.0/24',	host => 'team300.ructfe.org',	logo => 'https://ructfe.org/logos/04821474a4a66f1e7d7c69c78dbe4270.png'},
{name => 'e11even',	network => '10.61.45.0/24',	host => 'team301.ructfe.org',	logo => 'https://ructfe.org/logos/a4b05680054a36aa157f21d59f76c884.png'},
{name => 'Team IA',	network => '10.61.46.0/24',	host => 'team302.ructfe.org',	logo => 'https://ructfe.org/logos/9f74275eac360828c611a66dfb5a08b0.png'},
{name => 'K@V@',	network => '10.61.47.0/24',	host => 'team303.ructfe.org',	logo => 'https://ructfe.org/logos/c7795d46431b62965c77bd9dfc950d59.png'},
{name => 'xole',	network => '10.61.48.0/24',	host => 'team304.ructfe.org',	logo => 'https://ructfe.org/logos/d4b2d16ccbaaec6ab099cdcbd7518c95.png'},
{name => 'SYNБИРСКИЙ СЫЧ-ТРАМП В ЗДАНИИ',	network => '10.61.49.0/24',	host => 'team305.ructfe.org',	logo => 'https://ructfe.org/logos/22825a809ca3d89afdb25a4114fea6e8.png'},
{name => 'Dragon116rus',	network => '10.61.50.0/24',	host => 'team306.ructfe.org',	logo => 'https://ructfe.org/logos/2d267f4a9d1f7ea8a64f6eb3de26d9c1.png'},
{name => 'JKU-LAN',	network => '10.61.51.0/24',	host => 'team307.ructfe.org',	logo => 'https://ructfe.org/logos/443fe476c78dd5193212460221f6c666.png'},
{name => 'DnO',	network => '10.61.52.0/24',	host => 'team308.ructfe.org',	logo => 'https://ructfe.org/logos/5e2549a0674c1efa24b90e923b3a52af.png'},
{name => 'WizardsOfDos',	network => '10.61.53.0/24',	host => 'team309.ructfe.org',	logo => 'https://ructfe.org/logos/ea775e6bdb1ef7ee35b21245c001f6cb.png'},
{name => 'xno',	network => '10.61.54.0/24',	host => 'team310.ructfe.org',	logo => 'https://ructfe.org/logos/3ae8e0c4da9f63b11c55777610a0fefc.png'},
{name => 'One',	network => '10.61.55.0/24',	host => 'team311.ructfe.org',	logo => 'https://ructfe.org/logos/06c2cea18679d64399783748fa367bdd.png'},
{name => 'Cha0s',	network => '10.61.56.0/24',	host => 'team312.ructfe.org',	logo => 'https://ructfe.org/logos/f37509e5e4f293339b9e735edff2ce37.png'},
{name => 'P_TE',	network => '10.61.57.0/24',	host => 'team313.ructfe.org',	logo => 'https://ructfe.org/logos/0392ef454ffc87c5adf0396c06e1d598.png'},
{name => 'TechSec',	network => '10.61.58.0/24',	host => 'team314.ructfe.org',	logo => 'https://ructfe.org/logos/077e8a0c6019d6ccb97cb602d1572816.png'},
{name => 'Mesha',	network => '10.61.59.0/24',	host => 'team315.ructfe.org',	logo => 'https://ructfe.org/logos/7d7635f1ad876fbc1f8d8e5a36cc982c.png'},
{name => 'Trinity',	network => '10.61.60.0/24',	host => 'team316.ructfe.org',	logo => 'https://ructfe.org/logos/16d00ec132daebedc1dc487a10d4261c.png'},
{name => 'InSecurity',	network => '10.61.61.0/24',	host => 'team317.ructfe.org',	logo => 'https://ructfe.org/logos/a172f5f98e3b0519e4e97369e89fac9e.png'},
{name => 'EYSG',	network => '10.61.62.0/24',	host => 'team318.ructfe.org',	logo => 'https://ructfe.org/logos/4f33f5e85ea89b5ede0f3f77fc044e72.png'},
{name => 'GrassMudHorse',	network => '10.61.63.0/24',	host => 'team319.ructfe.org',	logo => 'https://ructfe.org/logos/05943484ceaa4d26ded1b5eb3750a598.png'},
{name => 'Majonnäs!',	network => '10.61.64.0/24',	host => 'team320.ructfe.org',	logo => 'https://ructfe.org/logos/6e0b34f93df6db26d973456bfd12ee13.png'},
{name => 'oneman',	network => '10.61.65.0/24',	host => 'team321.ructfe.org',	logo => 'https://ructfe.org/logos/c08bc27d5f1d9301880e652bc89df89d.png'},
{name => 'sbs',	network => '10.61.66.0/24',	host => 'team322.ructfe.org',	logo => 'https://ructfe.org/logos/c3cb8a08cd526b96ae0f7f24a7cf65cb.png'},
{name => 'd3catur',	network => '10.61.67.0/24',	host => 'team323.ructfe.org',	logo => 'https://ructfe.org/logos/fffdbbe099c644184f86ee57b5ae328d.png'},
{name => 'zzzsXezzz',	network => '10.61.68.0/24',	host => 'team324.ructfe.org',	logo => 'https://ructfe.org/logos/64ec630a7a1934f33e4650dc14a094ac.png'},
{name => 'APapc',	network => '10.61.69.0/24',	host => 'team325.ructfe.org',	logo => 'https://ructfe.org/logos/efe167567580f2f4a6ad5dce2732da9f.png'},
{name => 'ineXHAust',	network => '10.61.70.0/24',	host => 'team326.ructfe.org',	logo => 'https://ructfe.org/logos/2cac1b70699b0d8ea29b33f5a907c6ae.png'},
{name => 'Team01',	network => '10.61.71.0/24',	host => 'team327.ructfe.org',	logo => 'https://ructfe.org/logos/44ee13c774d5cc3ebe3b830345d23a6a.png'},
{name => 'zakuta',	network => '10.61.72.0/24',	host => 'team328.ructfe.org',	logo => 'https://ructfe.org/logos/fad53fb813d8c8f273bd8262817e31d5.png'},
{name => 'OziBOY',	network => '10.61.73.0/24',	host => 'team329.ructfe.org',	logo => 'https://ructfe.org/logos/cb86b4362e81aee543ac5cf262d25691.png'},
{name => '谁在背后说我帅',	network => '10.61.74.0/24',	host => 'team330.ructfe.org',	logo => 'https://ructfe.org/logos/90ae5ee9c2991075b6095f57946ca403.png'},
{name => 'Pride Of N',	network => '10.61.75.0/24',	host => 'team331.ructfe.org',	logo => 'https://ructfe.org/logos/03cb9e183fb52b93885e098ce7510266.png'},
{name => 'CDAISI_FC',	network => '10.61.76.0/24',	host => 'team332.ructfe.org',	logo => 'https://ructfe.org/logos/993296c8b0c9abbd77aba138f8c83275.png'},
{name => 'enak.svg',	network => '10.61.77.0/24',	host => 'team333.ructfe.org',	logo => 'https://ructfe.org/logos/03242f443b5a0ea09fca7e4b7754916d.png'},
{name => 'NaijaSecForce',	network => '10.61.78.0/24',	host => 'team334.ructfe.org',	logo => 'https://ructfe.org/logos/8f79020d94e9e46a4ae5eac5883484e9.png'},
{name => 'Fluxion',	network => '10.61.79.0/24',	host => 'team335.ructfe.org',	logo => 'https://ructfe.org/logos/9ae9b22cd45431b2d14d3329a301b129.png'},
{name => 'fruits',	network => '10.61.80.0/24',	host => 'team336.ructfe.org',	logo => 'https://ructfe.org/logos/e4c139569f1038b21c52cebfac9e4134.png'},
{name => ' ahmed.khlief',	network => '10.61.81.0/24',	host => 'team337.ructfe.org',	logo => 'https://ructfe.org/logos/bf12e29756a6e5476f666c538831f66e.png'},
{name => 'Tasteless',	network => '10.61.82.0/24',	host => 'team338.ructfe.org',	logo => 'https://ructfe.org/logos/69fcf7c5f68e79cd22831a85aa98f60e.png'},
{name => 'RDNCCMTCRACK',	network => '10.61.83.0/24',	host => 'team339.ructfe.org',	logo => 'https://ructfe.org/logos/a96eae140e94255bd171e970957397be.png'},
{name => 'Killerwolf',	network => '10.61.84.0/24',	host => 'team340.ructfe.org',	logo => 'https://ructfe.org/logos/4d136d9b39e0dcb1d24b2359c09d225e.png'},
{name => 'mohumohu',	network => '10.61.85.0/24',	host => 'team341.ructfe.org',	logo => 'https://ructfe.org/logos/560bd0ecd11997590d0e6668d8a76c96.png'},
{name => '!2day',	network => '10.61.86.0/24',	host => 'team342.ructfe.org',	logo => 'https://ructfe.org/logos/e117e2a904ea8af9cc180767c97d7f8b.png'},
{name => 'cerealkillers',	network => '10.61.87.0/24',	host => 'team343.ructfe.org',	logo => 'https://ructfe.org/logos/936297019740dde78dc1c9931e12b5a4.png'},
{name => 'Zense',	network => '10.61.88.0/24',	host => 'team344.ructfe.org',	logo => 'https://ructfe.org/logos/a90f9ef2bfad4334fedafb089f4017d6.png'},
{name => 'The Good, the Bad and the Ugly',	network => '10.61.89.0/24',	host => 'team345.ructfe.org',	logo => 'https://ructfe.org/logos/1e48366e876ddc1af6715c0da14a5c44.png'},
{name => 'Candy',	network => '10.61.90.0/24',	host => 'team346.ructfe.org',	logo => 'https://ructfe.org/logos/d8290f62c0e4d131b924ffa27f842994.png'},
{name => '$1',	network => '10.61.91.0/24',	host => 'team347.ructfe.org',	logo => 'https://ructfe.org/logos/06d3730efc83058f497d3d44f2f364e3.png'},
{name => 'CatFlag',	network => '10.61.92.0/24',	host => 'team348.ructfe.org',	logo => 'https://ructfe.org/logos/c128f1f877969e7bbdfa8320ed528d54.png'},
{name => 'KAIST GoN',	network => '10.61.93.0/24',	host => 'team349.ructfe.org',	logo => 'https://ructfe.org/logos/3af4b8410d761e870ff49ea4257e38bb.png'},
{name => 'WWU Hackdown',	network => '10.61.94.0/24',	host => 'team350.ructfe.org',	logo => 'https://ructfe.org/logos/b5fef84b6d3450e28c31ff3e65bd33ac.png'},
{name => 'Sad Programmers',	network => '10.61.95.0/24',	host => 'team351.ructfe.org',	logo => 'https://ructfe.org/logos/1562495b589e5ba18337357b67d5bc14.png'},
{name => 'smoke leet everyday',	network => '10.61.96.0/24',	host => 'team352.ructfe.org',	logo => 'https://ructfe.org/logos/d010ff6f4469b9e96f107e5179528a25.png'},
{name => 'samurai',	network => '10.61.97.0/24',	host => 'team353.ructfe.org',	logo => 'https://ructfe.org/logos/99b1983cf3ee09bbaf6f43ac7b4c8748.png'},
{name => 'pony7',	network => '10.61.98.0/24',	host => 'team354.ructfe.org',	logo => 'https://ructfe.org/logos/9630c2512c928dc7e5e030b3da45312b.png'},
{name => 'UZINFOSEC',	network => '10.61.99.0/24',	host => 'team355.ructfe.org',	logo => 'https://ructfe.org/logos/1022caeb2e943abf5e75c8848c8189d2.png'},
{name => 'Pants',	network => '10.61.100.0/24',	host => 'team356.ructfe.org',	logo => 'https://ructfe.org/logos/6ecd23b29cb618188451cdf0f35d4704.png'},
{name => 'SCAUSEC',	network => '10.61.101.0/24',	host => 'team357.ructfe.org',	logo => 'https://ructfe.org/logos/0156b0656d8866e03467bb6267e9664c.png'},
{name => 'booms',	network => '10.61.102.0/24',	host => 'team358.ructfe.org',	logo => 'https://ructfe.org/logos/308afed6b0ef703d69e027b70bdd5f3b.png'},
{name => 'Liberia',	network => '10.61.103.0/24',	host => 'team359.ructfe.org',	logo => 'https://ructfe.org/logos/642cab67fc263bb61ae4ccbd577c8aa4.png'},
{name => 'Mr211lvl',	network => '10.61.104.0/24',	host => 'team360.ructfe.org',	logo => 'https://ructfe.org/logos/deaf89fc06830b2385770d2c72bae05d.png'},
{name => 'BinaryBears',	network => '10.61.105.0/24',	host => 'team361.ructfe.org',	logo => 'https://ructfe.org/logos/5b5590a6ec55b0ac4424b6195a10bea3.png'},
{name => 'Bblloc',	network => '10.61.106.0/24',	host => 'team362.ructfe.org',	logo => 'https://ructfe.org/logos/5f98c8b5d03ae1a88bc3a4d03ecd181e.png'},
{name => 'defragmented.brains',	network => '10.61.107.0/24',	host => 'team363.ructfe.org',	logo => 'https://ructfe.org/logos/18f378a042bc2954448cda7d55e44518.png'},
{name => 'sw33t p1gs',	network => '10.61.108.0/24',	host => 'team364.ructfe.org',	logo => 'https://ructfe.org/logos/bd8ed5559495977b4acc24d364280c0b.png'},
{name => 'kluo',	network => '10.61.109.0/24',	host => 'team365.ructfe.org',	logo => 'https://ructfe.org/logos/bd3f8ddf9b9bda89a11917fdfa8b87f6.png'},
{name => 'God_Hacker',	network => '10.61.110.0/24',	host => 'team366.ructfe.org',	logo => 'https://ructfe.org/logos/c257f548903bfc5a6761d9a5dc4e83bc.png'},
{name => 'dsec13',	network => '10.61.111.0/24',	host => 'team367.ructfe.org',	logo => 'https://ructfe.org/logos/ed7cfbb28c881b8b5b89f8497487c61d.png'},
{name => 'SecTalks_BNE',	network => '10.61.112.0/24',	host => 'team368.ructfe.org',	logo => 'https://ructfe.org/logos/5af56de6aa36fbe6f0711cc3c2f2e5d3.png'},
{name => 'EscapeAlina',	network => '10.61.113.0/24',	host => 'team369.ructfe.org',	logo => 'https://ructfe.org/logos/09594141c25d0d452f364ad52f0d5b63.png'},
{name => '⛅︎',	network => '10.61.114.0/24',	host => 'team370.ructfe.org',	logo => 'https://ructfe.org/logos/8164451cc92c7c1f7a34c71d625f5053.png'},
{name => 'NAU-ACM CyberSecurity',	network => '10.61.115.0/24',	host => 'team371.ructfe.org',	logo => 'https://ructfe.org/logos/9c180003fa5c64f5a787f47dbacd6944.png'},
{name => 'brains_404',	network => '10.61.116.0/24',	host => 'team372.ructfe.org',	logo => 'https://ructfe.org/logos/6111067175d6b1187a068402e676a638.png'},
{name => 'Rosenburg Engel',	network => '10.61.117.0/24',	host => 'team373.ructfe.org',	logo => 'https://ructfe.org/logos/70e4c3ce6ccda52a0fe5c3566a712236.png'},
{name => 'blue-lotus',	network => '10.61.118.0/24',	host => 'team374.ructfe.org',	logo => 'https://ructfe.org/logos/189d10454bdb0bec7b682b2ac9f4c01b.png'},
{name => 'Bobby Tables',	network => '10.61.119.0/24',	host => 'team375.ructfe.org',	logo => 'https://ructfe.org/logos/0398d5e3d545e2ac8a7e2c956e5c90e5.png'},
{name => 'Sexy Hackrobats',	network => '10.61.120.0/24',	host => 'team376.ructfe.org',	logo => 'https://ructfe.org/logos/d40e91afd0a63c1c012965a302f16bd5.png'},
{name => 'nNips',	network => '10.61.121.0/24',	host => 'team377.ructfe.org',	logo => 'https://ructfe.org/logos/7f7def140fe63258786d7d0c09277226.png'},
{name => 'rmrf',	network => '10.61.122.0/24',	host => 'team378.ructfe.org',	logo => 'https://ructfe.org/logos/dddbde80d807742d626f6711cff703e4.png'},
{name => 'Fsec',	network => '10.61.123.0/24',	host => 'team379.ructfe.org',	logo => 'https://ructfe.org/logos/4f55ce99e2ec58a8e9a384a528e84b33.png'},
{name => 'seiyakyokai',	network => '10.61.124.0/24',	host => 'team380.ructfe.org',	logo => 'https://ructfe.org/logos/714e5894717c44f2cc1734f81a315a15.png'},
{name => '$leep!ng',	network => '10.61.125.0/24',	host => 'team381.ructfe.org',	logo => 'https://ructfe.org/logos/8ea6034856ab690a6b5199c17dafa949.png'},
{name => 'crayontheft',	network => '10.61.126.0/24',	host => 'team382.ructfe.org',	logo => 'https://ructfe.org/logos/ac49fe5b663dde0f9ddec44675284f4e.png'},
{name => 'Yamagi.com',	network => '10.61.127.0/24',	host => 'team383.ructfe.org',	logo => 'https://ructfe.org/logos/83030080f4bf3af651fe949cdec8c20c.png'},
{name => 'napster23',	network => '10.61.128.0/24',	host => 'team384.ructfe.org',	logo => 'https://ructfe.org/logos/1079df8726ab570632701007a4aadf49.png'},
{name => '2O2L2H',	network => '10.61.129.0/24',	host => 'team385.ructfe.org',	logo => 'https://ructfe.org/logos/0b6248c55b0f79846c9dbafb7be4902a.png'},
{name => 'n0Sk!LL',	network => '10.61.130.0/24',	host => 'team386.ructfe.org',	logo => 'https://ructfe.org/logos/aa1dc59e8fbddbcacf3229952cbd1f7c.png'},
{name => '1up',	network => '10.61.131.0/24',	host => 'team387.ructfe.org',	logo => 'https://ructfe.org/logos/06ab5d3122b38689c928b84d31d6c603.png'},
{name => 'OmsK28team',	network => '10.61.132.0/24',	host => 'team388.ructfe.org',	logo => 'https://ructfe.org/logos/f3d32f514fe54d06881cb8c731902731.png'},
{name => 'StonedPanda',	network => '10.61.133.0/24',	host => 'team389.ructfe.org',	logo => 'https://ructfe.org/logos/87ef217e24f4a4f6bf3e2c72dc0bf28e.png'},
{name => 'H4x0rPsch0rr',	network => '10.61.134.0/24',	host => 'team390.ructfe.org',	logo => 'https://ructfe.org/logos/6d2b9fee2ff8f15d57fea13c0fa37ef6.png'},
{name => 'cykkk',	network => '10.61.135.0/24',	host => 'team391.ructfe.org',	logo => 'https://ructfe.org/logos/0734a74507b5b099b7671fc333bf764c.png'},
{name => 'Amateur',	network => '10.61.136.0/24',	host => 'team392.ructfe.org',	logo => 'https://ructfe.org/logos/78b07a20e6d1bb02dc569a277546fe92.png'},
{name => 'itemize',	network => '10.61.137.0/24',	host => 'team393.ructfe.org',	logo => 'https://ructfe.org/logos/fab9f7eda2d5d0063fcbc5805b5da74f.png'},
{name => '⚡ Cyber Ops ⚡',	network => '10.61.138.0/24',	host => 'team394.ructfe.org',	logo => 'https://ructfe.org/logos/29b9693858bf1738a03f1fb5297830a8.png'},
{name => 'Elysium',	network => '10.61.139.0/24',	host => 'team395.ructfe.org',	logo => 'https://ructfe.org/logos/b2a9bd4c41a892c7944169a44556010d.png'},
{name => 'Lihamestarit',	network => '10.61.140.0/24',	host => 'team396.ructfe.org',	logo => 'https://ructfe.org/logos/0d0ea5549ad7055547ce4a5fa6cb4d3e.png'},
{name => 'DFCI',	network => '10.61.141.0/24',	host => 'team397.ructfe.org',	logo => 'https://ructfe.org/logos/ef11ad9b4a34318d1221e4d7fd9489e0.png'},
{name => 'h3r3',	network => '10.61.142.0/24',	host => 'team398.ructfe.org',	logo => 'https://ructfe.org/logos/bbc86f9d0b90b9b08d1256b4ef76354b.png'},
{name => 'gr33n_fl0w3r',	network => '10.61.143.0/24',	host => 'team399.ructfe.org',	logo => 'https://ructfe.org/logos/0f1c96fc018118d8ea79854e896c7b0a.png'},
{name => 'free(te);',	network => '10.61.144.0/24',	host => 'team400.ructfe.org',	logo => 'https://ructfe.org/logos/b6522bc8605608a397c4ae5c0abe3adc.png'},
{name => 'DFM',	network => '10.61.145.0/24',	host => 'team401.ructfe.org',	logo => 'https://ructfe.org/logos/1757b97fee1a43e6e6c37f9bb6402987.png'},
{name => 'Trajan',	network => '10.61.146.0/24',	host => 'team402.ructfe.org',	logo => 'https://ructfe.org/logos/acdfdd6a1dc00bf7fd5584c332439dbb.png'},
{name => 'Team without Pants',	network => '10.61.147.0/24',	host => 'team403.ructfe.org',	logo => 'https://ructfe.org/logos/b8045ce75cdaf56a7f72cdfd60be608c.png'},
{name => 'cls',	network => '10.61.148.0/24',	host => 'team404.ructfe.org',	logo => 'https://ructfe.org/logos/8a0496f6a6397581367536557e603826.png'},
{name => 'D.Sec.Mongolia',	network => '10.61.149.0/24',	host => 'team405.ructfe.org',	logo => 'https://ructfe.org/logos/8c76a80ff79a993f2f5350e9539c7866.png'},
{name => 'OQC',	network => '10.61.150.0/24',	host => 'team406.ructfe.org',	logo => 'https://ructfe.org/logos/d978c11182cd4969251544c9057fb610.png'},
{name => 'GIT',	network => '10.61.151.0/24',	host => 'team407.ructfe.org',	logo => 'https://ructfe.org/logos/ed82dc1c7066f5e5103d0204b6fe58d0.png'},
{name => 'hieuit',	network => '10.61.152.0/24',	host => 'team408.ructfe.org',	logo => 'https://ructfe.org/logos/e5a4534e27bb4f119ec990f358b4b1e5.png'},
{name => 'Introitus',	network => '10.61.153.0/24',	host => 'team409.ructfe.org',	logo => 'https://ructfe.org/logos/0c87fa64460304be118698c660a07e7b.png'},
{name => 'Ten-strike',	network => '10.61.154.0/24',	host => 'team410.ructfe.org',	logo => 'https://ructfe.org/logos/c5841376506862b6bb8ed9bec4759a79.png'},
{name => 'Fullmetal Sun of Scorching Pain',	network => '10.61.155.0/24',	host => 'team411.ructfe.org',	logo => 'https://ructfe.org/logos/1f3b32737e510f5552c4fb757dc481d1.png'},
{name => 'FoXXeS',	network => '10.61.156.0/24',	host => 'team412.ructfe.org',	logo => 'https://ructfe.org/logos/dec12b2e69316563f72aa6dca60b8ffb.png'},
{name => 'itanimulli',	network => '10.61.157.0/24',	host => 'team413.ructfe.org',	logo => 'https://ructfe.org/logos/a6d035ab774aacb17fa2a65ae309d584.png'},
{name => 'xix',	network => '10.61.158.0/24',	host => 'team414.ructfe.org',	logo => 'https://ructfe.org/logos/deecbfa00b6b28500a8a2b0d2cd484f2.png'},
{name => 'Ascent',	network => '10.61.159.0/24',	host => 'team415.ructfe.org',	logo => 'https://ructfe.org/logos/fc76a68e99896582334ae980a263e926.png'},
{name => 'inexperienced',	network => '10.61.160.0/24',	host => 'team416.ructfe.org',	logo => 'https://ructfe.org/logos/24abb75b464b7bfe2f437efefe4c5aa1.png'},
{name => 'UG9saSBUTQ==',	network => '10.61.161.0/24',	host => 'team417.ructfe.org',	logo => 'https://ructfe.org/logos/109cadbab1572612bc027b81dfdcab42.png'},
{name => 'lol',	network => '10.61.162.0/24',	host => 'team418.ructfe.org',	logo => 'https://ructfe.org/logos/9cdfb439c7876e703e307864c9167a15.png'},
{name => 'Autokrator',	network => '10.61.163.0/24',	host => 'team419.ructfe.org',	logo => 'https://ructfe.org/logos/bd5abf0bdf2ccf0f08138a794c099a6e.png'},
{name => 'PeaceMakers',	network => '10.61.164.0/24',	host => 'team420.ructfe.org',	logo => 'https://ructfe.org/logos/31f48734caeb05425d7e7c18b2d12e33.png'},
{name => 'M&K',	network => '10.61.165.0/24',	host => 'team421.ructfe.org',	logo => 'https://ructfe.org/logos/832aa9aab94e9926367c416350f229f8.png'},
{name => 'noteam',	network => '10.61.166.0/24',	host => 'team422.ructfe.org',	logo => 'https://ructfe.org/logos/547bfb915c2672d4d430e7d82c8f6f53.png'},
{name => 'g0d sav3 th3 qu33n',	network => '10.61.167.0/24',	host => 'team423.ructfe.org',	logo => 'https://ructfe.org/logos/1e1b9a56b356de242e2c62efdac008d1.png'},
{name => 'Snatch The Root',	network => '10.61.168.0/24',	host => 'team424.ructfe.org',	logo => 'https://ructfe.org/logos/801cc9b04020cd7f4243f55d0a595c51.png'},
{name => 'CSACyber',	network => '10.61.169.0/24',	host => 'team425.ructfe.org',	logo => 'https://ructfe.org/logos/3b3ad0c6c8c47c59e56d99a223310f6a.png'},
{name => 'MSTUCA',	network => '10.61.170.0/24',	host => 'team426.ructfe.org',	logo => 'https://ructfe.org/logos/92293c2823345d2bdecf98a2b8ae1f13.png'},
{name => 'phocean',	network => '10.61.171.0/24',	host => 'team427.ructfe.org',	logo => 'https://ructfe.org/logos/1c81321dc20dba421ebac2a544c0345f.png'},
{name => 'Br41n H4ck3r5',	network => '10.61.172.0/24',	host => 'team428.ructfe.org',	logo => 'https://ructfe.org/logos/56782096b54d123879b4ac4c975dda4f.png'},
{name => 'M@in',	network => '10.61.173.0/24',	host => 'team429.ructfe.org',	logo => 'https://ructfe.org/logos/3734b69bf7460160f207de7a08b9cc10.png'},
{name => 'Cyborgs',	network => '10.61.174.0/24',	host => 'team430.ructfe.org',	logo => 'https://ructfe.org/logos/7fd97cffcd02faf9907db475083f68c0.png'},
{name => 'kerberint',	network => '10.61.175.0/24',	host => 'team431.ructfe.org',	logo => 'https://ructfe.org/logos/ff13dd738053f67087deac25db23a170.png'},
{name => 'tmts',	network => '10.61.176.0/24',	host => 'team432.ructfe.org',	logo => 'https://ructfe.org/logos/350a4cfbdc41b3740e621fac7ef46d30.png'},
{name => 'Yacine101',	network => '10.61.177.0/24',	host => 'team433.ructfe.org',	logo => 'https://ructfe.org/logos/2b4a07977d25b189afc7ca05be3bc25d.png'},
{name => 'MV9rwGOf08',	network => '10.61.178.0/24',	host => 'team434.ructfe.org',	logo => 'https://ructfe.org/logos/7fd0e2a8fb332b9d860ea17d2ad54852.png'},
{name => 'brainrecursion',	network => '10.61.179.0/24',	host => 'team435.ructfe.org',	logo => 'https://ructfe.org/logos/923ceb459cb6022ee97a143b99a6d87d.png'},
{name => '0f4c8e04-7c16-409c-9e93-4bb85e9707d5',	network => '10.61.180.0/24',	host => 'team436.ructfe.org',	logo => 'https://ructfe.org/logos/51ef2f988058a25ca2a1b427d97895d6.png'},
{name => 'H4xorKikouLol',	network => '10.61.181.0/24',	host => 'team437.ructfe.org',	logo => 'https://ructfe.org/logos/dde6543bbd6ba7d26ab8400546658340.png'},
{name => 'hunter2',	network => '10.61.182.0/24',	host => 'team438.ructfe.org',	logo => 'https://ructfe.org/logos/2ab96390c7dbe3439de74d0c9b0b1767.png'},
{name => 'asdfjklal',	network => '10.61.183.0/24',	host => 'team439.ructfe.org',	logo => 'https://ructfe.org/logos/8a58d250d6c07ef3144832f502cbc879.png'},
{name => '@ssur',	network => '10.61.184.0/24',	host => 'team440.ructfe.org',	logo => 'https://ructfe.org/logos/3ed13a0cfa821137080e39ff006bd9e9.png'},
{name => 'CardiffComputingClub',	network => '10.61.185.0/24',	host => 'team441.ructfe.org',	logo => 'https://ructfe.org/logos/86e3149e7098df4d8cd546b35515217a.png'},
{name => 'IBAS',	network => '10.61.186.0/24',	host => 'team442.ructfe.org',	logo => 'https://ructfe.org/logos/dfa846aaa1d389de1ee934febdcbd402.png'},
{name => 'vls',	network => '10.61.187.0/24',	host => 'team443.ructfe.org',	logo => 'https://ructfe.org/logos/c8fd5d0bb8661a163aea0351143f5a4c.png'},
{name => '217',	network => '10.61.188.0/24',	host => 'team444.ructfe.org',	logo => 'https://ructfe.org/logos/63dc7ed1010d3c3b8269faf0ba7491d4.png'},
{name => 'TeamPenguins',	network => '10.61.189.0/24',	host => 'team445.ructfe.org',	logo => 'https://ructfe.org/logos/9290a391ea2d65c446fb6ff1542e082f.png'},
{name => 'Cumbanchi',	network => '10.61.190.0/24',	host => 'team446.ructfe.org',	logo => 'https://ructfe.org/logos/e445e33d88db1f029b83e1ffacdf5152.png'},
