html, body, #svg-wrapper, #svg-viz  {
	width: 100%;
	height: 100%;
	margin: 0;
}

#svg-wrapper {
	overflow: hidden;
	background: blue;
}

#svg-viz {
	cursor: move;
}

.island {
	fill: brown;
	cursor: default;
}

.ui-tooltip {
	position: absolute !important;
	.team-tooltip {
		background: white;
		max-width: 200px;
		height: auto;
		padding: 5px;
		border-radius: 2px;
		position: relative;
		.header {
			font-weight: normal;
		}
		.value {
			font-weight: bold;
		}
	}
}

#filters-container {
	position: absolute;
	right: 20px;
	bottom: 20px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	.filter {
		color: white;
		cursor: pointer;
		text-align: right;
		&.deselected {
			text-decoration: line-through;
		}
	}
}