@font-face {
  font-family: 'Atlantean1';
  src: url('/fonts/Atlantean1.ttf.woff') format('woff'), url('/fonts/Atlantean1.ttf.svg#Atlantean1') format('svg'), url('/fonts/Atlantean1.ttf.eot'), url('/fonts/Atlantean1.ttf.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
body {
  background: url(/img/background.png) #1B1E3C;
  background-size: cover;
}
html,
body,
#svg-wrapper,
#svg-viz {
  width: 100%;
  height: 100%;
  margin: 0;
}
#svg-wrapper {
  overflow: hidden;
  position: absolute;
}
#svg-viz {
  cursor: move;
}
.ui-tooltip {
  position: absolute !important;
}
.ui-tooltip .team-tooltip {
  background: white;
  max-width: 200px;
  height: auto;
  padding: 5px;
  border-radius: 2px;
  position: relative;
}
.ui-tooltip .team-tooltip .header {
  font-weight: normal;
}
.ui-tooltip .team-tooltip .value {
  font-weight: bold;
}
#filters-container {
  position: absolute;
  right: 20px;
  bottom: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#filters-container .filter {
  color: white;
  cursor: pointer;
  text-align: right;
}
#filters-container .filter.deselected {
  text-decoration: line-through;
}
#atlantis {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  position: absolute;
  width: 500px;
  left: 50%;
  margin-left: -250px;
  top: 20px;
  color: #4E7B92;
  font-size: 85px;
  text-align: center;
}
#alphabet {
  font-family: 'Atlantean1', serif;
  position: absolute;
  width: 500px;
  left: 50%;
  margin-left: -250px;
  top: 120px;
  color: #4E7B92;
  font-size: 30px;
  text-align: center;
}
.node {
  cursor: default;
}
.island {
  stroke: #3D7278;
  stroke-width: 2px;
}
.explosion {
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
  fill-opacity: 1;
}
.arrow-line {
  stroke-linecap: round;
  stroke-width: 3px;
  fill-opacity: 0;
}
