[Unit]
Description=Sapmarine
After=network.target

[Service]
ExecStart=/home/sapmarine/sapmarine
User=sapmarine
Restart=always
RestartSec=5
WorkingDirectory=/home/sapmarine/

[Install]
WantedBy=multi-user.target
