{% macro input_with_errors(field) %}
    {% set help_text = '' + kwargs.pop('help_text', '') %}
    {% if field.widget.input_type == 'checkbox' %}
    {# field.widget.input_type == 'radio' #}
        {% if field.errors %}
            {% set css_class = 'has-error ' + kwargs.pop('class', field.widget.input_type) %}
        {% else %}
            {% set css_class = '' + kwargs.pop('class', field.widget.input_type) %}
        {% endif %}
        {% set css_input_class = '' + kwargs.pop('input_class', '') %}

        <div class="{{ css_class }}">
            <label>
            {{ field(class=css_input_class, **kwargs) }}
            {{ field.label.text }}
            </label>

            {% if field.errors %}
            <span class="help-block">
                <span>{{ help_text }}</span>
                <ul class="errors">{% for error in field.errors %}<li>{{ error|e }}</li>{% endfor %}</ul>
            </span>
            <span class="sr-only">(error)</span>
            {% endif %}
        </div>
    {% else %}
        {% if field.errors %}
            {% set css_class = 'has-error has-feedback ' + kwargs.pop('class', 'form-group') %}
        {% else %}
            {% set css_class = '' + kwargs.pop('class', 'form-group') %}
        {% endif %}
        {% set css_input_class = '' + kwargs.pop('input_class', 'form-control') %}

        <div class="{{ css_class }}">
            {{ field.label }}
            {{ field(class=css_input_class, **kwargs) }}
            {% if field.errors %}
            <span class="help-block">
                <span>{{ help_text }}</span>
                <ul class="errors">{% for error in field.errors %}<li>{{ error|e }}</li>{% endfor %}</ul>
            </span>
            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
            <span class="sr-only">(error)</span>
            {% endif %}
        </div>
    {% endif %}
{% endmacro %}
