.table tr td:nth-child(1) {
	font-size: larger;
}

.table tr td:nth-child(2) {
	color: #666;
	text-align: right;
	vertical-align: bottom;
	font-style: italic;
}

.author {
	color: #666;
	font-style: italic;
}

.text {
	font-size: larger;
}
