[Unit]
Description=cross-social-science
After=network.target

[Service]
ExecStart=/home/cross-social-science/venv/bin/python /home/cross-social-science/main.py
User=cross-social-science
Restart=always
RestartSec=5
WorkingDirectory=/home/cross-social-science/

[Install]
WantedBy=multi-user.target
