#reports-table {
	width: 100%;
	border: 1px solid #ddc !important;
	display: none;
}

#reports-table a:hover {
	color: white;
}

#report-props-table, #crash-thread-stack-table {
	width: 100%;
	border: 1px solid #ddc !important;
}

#reports-table td, #report-props-table td, #crash-thread-stack-table td, #reports-table th, #report-props-table th, #crash-thread-stack-table th {
	padding: 0 3px 0 3px;
}